[2014-09-16 20:39] rachelbaker opened #1 "Update link in ReadMe"
Link should be updated from http://10up.github.io/devstandards ---> http://10up.github.io/Engineering-Best-Practices

[2014-09-17 18:16] #1 closed, assigned to nobody

[2014-09-29 17:51] tlovett1 opened #8 "Split up top sections into separate pages."
Title says it all.

[2014-09-29 17:52] DrewAPicture commented on #8
I'd be interested to see how you end up doing this.

[2014-09-29 17:57] tlovett1 opened #10 "Add "Back to Top" links"
Not sure if this should be for just secondary or secondary and tertiary sections.

[2014-09-29 18:05] tlovett1 opened #11 "Documentation section"
We need a section to explain how we document our code.

[2014-09-29 18:08] dana-ross opened #12 "Composer best practices?"
I've gotten questions about Composer best practices when we write themes & plugins. My advice is to use a separate composer.json for each plugin/theme. Do we want to codify this as a best practice (vs a single composer.json for each project)?

Also, Chris Marslender found a way to keep Composer downloads out of Beanstalk repos and run Composer during deploys. Might be good to have him document tha

[2014-09-29 18:14] tlovett1 commented on #12
@ericmann is doing work that relates to this in a "project structure" section.

[2014-09-29 18:21] DrewAPicture commented on #11
I've thought about this a little bit and I think we can just convert the Code Style sections into Code Style & Documentation, and then link both standards. There isn't currently an adopted documentation standard for JS, but most core devs seem to be leaning toward a hybrid of JavaDoc and JSDoc3.

[2014-09-29 18:26] DrewAPicture commented on #11
PR incoming.

[2014-09-29 19:08] #11 closed, assigned to DrewAPicture

[2014-09-30 18:53] #8 closed, assigned to ericmann

[2014-10-02 23:44] ericmann commented on #12
@daveross Yes, every project should have a `composer.json` file, even if we're not using Composer on that project to handle its dependencies. This will make it easier for projects down the line to include/reference existing projects when we need them.

For projects we're hosting, we can (and will) use Composer to manage dependencies and `.gitignore` the `/vendor` directory and re-run Composer on t

[2014-10-02 23:44] #12 closed, assigned to nobody

[2014-10-06 15:57] rachelbaker opened #18 "Add Typekit Fonts from 10up.com"
@tddewey mentioned he was looking into using our Typekit account for the fonts in #14.

Based on a HipChat discussion, @helenhousandi was kind enough to add the 10up.github.io domain to our Typekit account.  Assigning to myself to wrap up the task.

[2014-10-06 16:14] tlovett1 opened #19 "Last modified date"
A last modified date (possible in the footer) would be useful on every page.

[2014-10-06 18:23] #18 closed, assigned to rachelbaker

[2014-10-06 23:31] Faison opened #22 "Missing single quote in Cache Remote Requests Example"
Hi there,

Wasn't sure if me forking this repo would create a private fork or not, and this issue is so small that I decided it wouldn't hurt to just bring it up to someone who's already committing.

Basically, if you look at the code example in the section titled [Cache Remote Requests](http://10up.github.io/Engineering-Best-Practices/php/#cache-remote-requests), there's a line that looks like th

[2014-10-07 00:41] rachelbaker commented on #22
Fix in PR #23

[2014-10-07 04:20] #22 closed, assigned to rachelbaker

[2014-10-15 17:35] ericmann commented on #10
Done and done.

[2014-10-15 17:35] #10 closed, assigned to nobody

[2014-10-15 17:36] ericmann commented on #19
I've added code to display it. Unfortunately, we can't auto-generate the timestamp with GitHub pages. I've added a manual timestamp to the YAML frontmatter for each section (so the root *.md files) that needs to be updated when we're making changes.

[2014-10-15 17:36] #19 closed, assigned to ericmann

[2014-10-17 17:32] sc0ttkclark opened #26 "/"

[2014-10-17 17:35] sc0ttkclark opened #27 "/"

[2014-10-30 01:14] TheLastCicada opened #29 "Sysadmin reads code, believes Batcache CAN cache URLs with query string"
I believe https://github.com/Automattic/batcache/blob/master/advanced-cache.php#L384 shows that batcache does cache full pages with query arguements, it just saves different query strings as unique pages (which is why you can defeat the cache and get a fresh page by adding ?new=yes at the end of a URL).

I believe this is in conflict with line 190 in PHP.md:

_"As Batcache does not cache calls for

[2014-10-30 15:56] tddewey commented on #29
That's my (somewhat newly revised) understanding as well. In fact, I recently talked to @tott to see if there was a way to make it _not_ independently cache a query string. Only option there is to hack it.

[2014-10-31 22:52] tott commented on #29
That's correct. The wording is wrong. It should be "As Batcache does not cache calls for URLs with query strings effectively"

[2014-11-01 20:07] TheLastCicada commented on #29
I dunno - to me it caches them effectively - if your page is http://example.com/index.php?1234 it will cache that page just like any other page.  However, http://example.com/index.php?4321 will be cached as a totally different page.  As long as every query string isn't unique, it will cache these pages just like any other page.  Basically the query string is part of the URL and each URL is cached

[2014-11-01 20:51] tott commented on #29
What I meant is that it will create tons of cache variations for each query string which in most scenarios renders the cache useless

[2014-11-01 20:57] TheLastCicada commented on #29
That's what I'd like to see elaborated on here.  I can think of many scenarios where a query string could be used and still get cached effectively.  The default permalinks for WordPress for one.  Also if a company is running a promotion and tracking the source of traffic, they could use a query string like ?promo=halloween&source=email.  In this example, the caching won't work as effectively as wi

[2014-11-04 18:54] #27 closed, assigned to nobody

[2014-11-04 18:56] #26 closed, assigned to nobody

[2014-11-05 14:55] helenhousandi opened #30 "Add some more performance-related args to WP_Query section"
We talk about `no_found_rows`, but in reality that only removes one query out of the **five** that `WP_Query` runs in its typical configuration. We should also document: `update_post_term_cache`, `update_post_meta_cache`, and `'fields' => 'ids'`.

[2014-11-05 15:17] rachelbaker commented on #30
:+1:

[2014-11-05 15:47] sc0ttkclark commented on #30
`'fields' => 'ids'` is my favorite :)

[2014-11-05 18:56] zamoose commented on #29
@TheLastCicada Don't most email campaigns utilize per-user hashes in their query strings to effectively check their click-through rates? (Not a huge issue other than to say that it makes @tott's point more salient.)

[2014-11-06 14:15] JDGrimes opened #38 "Confusing WP_Query vs. get_posts()"
On the PHP page under the [Effecient Database Queries section](https://github.com/10up/Engineering-Best-Practices/blob/gh-pages/_includes/markdown/PHP.md#efficient-database-queries) is this:

I find that very confusing. It is actually the other way around: [the `get_posts()` function uses `WP_Query`](https://core.trac.wordpress.org/browser/tags/4.0/src/wp-includes/post.php#L1866). I assume that ma

[2014-11-06 15:19] tlovett1 commented on #38
You are correct. Thank you.

[2014-11-06 15:19] #38 closed, assigned to nobody

[2014-11-06 17:42] aaronjorbin commented on #29
This is one area that varnish is superior to batcache.

EDIT: I should specify, that the ability to group query arguments for caching (and only the ones you want) is what makes varnish superior.  Not that it is an outright better cache.  Both have strengths and weaknesses.

[2014-11-06 19:08] TheLastCicada commented on #29
For an individual site, it seems like it shouldn't be too difficult to modify advanced-cache.php to have this same behavior.  I've been impressed by Varnish's TTFB recently and am looking forward to working with it more.  @aaronjorbin - do you have a Varnish WP plugin that you prefer for cache invalidation etc?

@zamoose I think all these points are valid, but I think we can make the language more

[2014-11-09 01:10] #29 closed, assigned to nobody

[2014-11-23 20:13] tddewey opened #52 "Unclear sentence re: including dependencies into VCS."
At the end of http://10up.github.io/Engineering-Best-Practices/structure/#modular-code:

"In these cases, the dependency, its version, and the reason for its inclusion in the project outside of a dependency manager."

I _think_ this sentence should read:

"In these cases, the dependency, its version, and the reason for its inclusion in the project outside of a dependency manager should be document

[2014-11-24 14:07] tlovett1 commented on #52
Yup, I think you're right.

[2014-11-24 16:27] DrewAPicture commented on #52
+1

[2014-11-30 18:44] NicoleGeissinger commented on #52
Yeah that makes sense to me Taylor.

[2014-12-01 15:23] #52 closed, assigned to nobody

[2014-12-18 20:42] tlovett1 commented on #30
@helenhousandi mind writing a PR?

[2014-12-18 20:51] tlovett1 opened #53 "WP_Query vs. get_posts() vs. query_posts + how WordPress handles queries"
Title says it all :)

[2015-01-23 03:59] ericmann commented on #30
Already been merged.

[2015-01-23 03:59] #30 closed

[2015-04-28 04:19] tlovett1 opened #63 "Responsive code blocks"
Right now, code samples are not readable on mobile. Lines are broken making code illegible.

[2015-04-29 08:51] andrewmowe opened #65 "'tabindex' recommendation should be reconsidered"
The use of the tabindex attribute should not be considered the primary approach to keyboard accessibility. As Joe Dolson points out in [this article](https://www.joedolson.com/2007/07/pseudo-accessibility/) it often does more harm than good. tl;dr: Planning a logical document structure prevents having to use tabindex all over the place, allowing you to use it only when needed.

[2015-04-30 19:42] jonbellah commented on #65
This is interesting. The W3C spec still points towards recommending the use of tabindex, but I do agree this provides a cleaner, better practice in general. @tlovett1 @tddewey thoughts?

[2015-04-30 22:47] jonbellah commented on #65
Adding @kdo and @zzramesses to this thread.

[2015-04-30 22:51] helen commented on #65
I would strongly recommend that only tabindex values of 0 and -1 be used, for adding and removing from tabbable elements. Having taborder be different from DOM order is not a good idea.

[2015-05-01 07:55] tddewey commented on #65
I agree that it's a use sparingly thing, so as Helen said, recommend against using it. In addition it can cause a maintainability nightmare.

Sent from mobile, please excuse typos.

[2015-05-04 01:43] tlovett1 commented on #65
@JonBellah can you write a PR?

[2015-05-04 02:25] andrewmowe commented on #65
I created a PR based on these sources:
https://www.joedolson.com/2007/07/pseudo-accessibility/
http://webaim.org/techniques/keyboard/tabindex

[2015-05-04 04:34] helen commented on #65
:+1: to the PR.

[2015-05-04 14:12] tlovett1 commented on #65
#70 looks good.

[2015-05-04 14:12] #65 closed

[2015-05-06 12:19] jonathantneal opened #72 "Progressive Enhancement / JavaScript"
Would [Markup’s Progressive Enhancement section](https://10up.github.io/Engineering-Best-Practices/markup/#progressive-enhancement) for [Polyfills](https://github.com/10up/Engineering-Best-Practices/blob/gh-pages/_includes/markdown/Markup.md#polyfills) (and perhaps Modernizr as well) be better positioned beneath [JavaScript’s](https://10up.github.io/Engineering-Best-Practices/javascript/) [Only Lo

[2015-05-06 13:16] jonathantneal opened #73 "Event Delegation"
Regarding the [JavaScript section](https://10up.github.io/Engineering-Best-Practices/javascript/#event-delegation) for [Event Delegation](https://github.com/10up/Engineering-Best-Practices/blob/gh-pages/_includes/markdown/JavaScript.md#event-delegation); could its purpose be clarified?

If we are listening for a `click` event on an `<li>` element, is it because we intend to do something with that

[2015-05-06 13:19] thaicloud opened #74 "wp-config.php best practices"
Has any thought been given towards adding a section outlining some general recommended wp-config settings?

The thought occurred to me as I read the following article by Brad Touesnard outlining the potential space-saving benefits of the IMAGE_EDIT_OVERWRITE constant, but didn't see a suitable place in the Best Practices where this kind of solution would fit: https://deliciousbrains.com/undefined-

[2015-05-08 15:06] jonathantneal commented on #63
This is `pre` has `white-space` defined as `pre-wrap`. Updating normalize may resolve this.

I’d need to see why it’s defined this way before updating, as this was [an opinionated default in an older version](https://github.com/necolas/normalize.css/commit/a8edd0c5aa06b905e8e1550fd6a5c01e46375194).

If it’s a desired default, then a secondary solution is for `pre code` to have `white-space` define

[2015-05-08 17:16] tlovett1 commented on #72
Hmm I see the theory. I still think markup makes the most sense but could definitely be convinced otherwise.

[2015-05-08 17:16] tlovett1 commented on #74
I think this could be really cool. Happy to give feedback on a PR.

[2015-05-08 17:26] tlovett1 commented on #73
The intent is not to say we should not listen for events on the actual element rather delegate event listening to a parent if you need to detect things on a bunch of children.

Regarding the target issue, I agree. Can you open up a PR for the first example? I think we should leave out the polyfill.

[2015-05-08 17:28] DrewAPicture commented on #74
FWIW, we've deliberately left this kind of "extra" information out of the core wp-config-sample.php file because of the extensive documentation already available in the Codex. I think this could be a great addition to our best practices.

[2015-05-08 17:45] tlovett1 commented on #63
Thanks for weighing in @jonathantneal. @kdo any thoughts on what he said?

[2015-05-08 18:07] kdo commented on #63
Unfortunately, this is not only a normalize problem, other styles will need to be tweaked to have a better experience on mobile. For example, `.docs-section` is set to `width: 75%`, etc.

In addition to tweaking the white-space behaviors, we'll also need to update the overall style for code blocks on mobile.

[2015-05-09 11:42] QWp6t opened #75 "Project Structure should discuss using add_theme_support() for decoupling."
For our projects [Sage](https://github.com/roots/sage/blob/master/lib/config.php#L10-L14) and [Soil](https://github.com/roots/soil#modules), we use `add_theme_support()` to decouple the theme and the plugin. Removing the plugin (Soil) does not result in any errors, and changing the theme (Sage) does not result in any errors. This is another approach for decoupling code using standard WordPress par

[2015-05-14 15:22] saltcod opened #77 "Headings are feeling a little undifferentiated"
I'm finding that headings are bleeding together a bit for me. Adding some weight and a keyline on the pages' primary section headings (h3) might help.

I've got this done in my local branch, but I'd like to have some feedback before committing.

Thanks!
![after](https://cloud.githubusercontent.com/assets/105593/7634834/00315ed4-fa38-11e4-9c42-1168827c9be5.jpeg)
![before](https://cloud.githubuserco

[2015-05-14 15:40] DrewAPicture commented on #77
I agree that adding some weight to the headings could really help visually break up the content. I'm either way on the keyline, looks good though.

[2015-05-14 15:43] jonbellah commented on #77
This is something I've thought about a lot, as well. I like these changes. I'm also a fan of the keyline.

+1

[2015-05-19 17:00] tlovett1 commented on #75
I agree this is something worth mentioning. Take a crack with a PR?

[2015-05-19 17:34] tlovett1 commented on #77
Looks good to me. Feel free to create the PR.

[2015-05-28 16:58] JonBellah opened #80 "Update BASE_PATH so that it always references the correct environment"
Currently, the BASE_PATH always points to the live site. This leads to some confusion when working on the site locally ("WHY ARENT MY STYLES UPDATING!?").

Not sure yet what the best approach is, but will start looking into it when I have a little more free time.

[2015-05-28 17:05] tlovett1 commented on #80
+1000

[2015-05-28 20:59] jonbellah commented on #63
This was resolved in https://github.com/10up/Engineering-Best-Practices/pull/76

[2015-05-28 20:59] #63 closed

[2015-06-17 16:39] mikemcguire opened #81 "Markup page conflicts with PHP page"
Not to be nit picky... Mark-up page says "Use colon syntax for PHP loops and conditionals so that it's easier to see when a certain loop ends within the block of markup."  But all of the code examples on the PHP page used bracket syntax?  Make up your mind 10up!

[2015-06-17 17:59] lkwdwrd commented on #81
I believe that the difference is the context.

When in blocks of pure PHP, bracket syntax is easier to follow and should be used. This should not happen in an HTML template file, though, only in true PHP files. When working on a template file where PHP is being sprinkled in here and there to make it dynamic, colon syntax is easier to follow when wrapped in opening and closing `<?php ?>` tags. Ther

[2015-06-17 18:58] mikemcguire commented on #81
AH ok, that makes perfect sense to me. I agree it could be made more clear.

[2015-06-17 18:58] #81 closed

[2015-06-23 15:29] zrothauser commented on #72
I think it still makes more sense in the markup section. I would add HTML5/CSS polyfills when I'm actively working on markup/styling. Other libraries would be considered at a different point, when I'm working on writing JavaScript.

But it could be worth mentioning again in the "Libraries" section, since there are JavaScript polyfills that could be needed - so I think a link back to the Polyfills

[2015-06-24 12:06] elliott-stocks opened #83 "Avoiding 'post__not_in'"
I feel we should mention using PHP as an alternative method instead of using ```post__not_in``` within a query. VIP recommend this in most cases.

Happy to submit a PR.

[2015-06-24 12:54] elliott-stocks opened #84 "Optimize Readability confusing markup"
In the section Optimize Readability it sates;

Does this mean the PHP blocks should be aligned the same as the HTML markup? Or, should the PHP blocks be indented, as they would be if it was purely HTML?

For example the last code block shows -

[code]

But from reading the above statement I feel it should look similar to this instead -

[code]

Is the statement misleading, or am I missing somethin

[2015-06-24 14:11] morganestes commented on #84
When I look at mixed PHP/HTML, I expect to see it formatted as the second example for ease of reading. When I let my IDE format the first code block according to the installed WP Coding Standards checks, it creates the second block.

I agree with @elliott-stocks that the second, indented format makes better sense.

[2015-06-24 15:53] tlovett1 commented on #83
Sounds good to me. Let's keep it brief though.

[2015-06-24 15:53] tlovett1 commented on #84
I prefer the second too.

[2015-06-24 16:57] lkwdwrd commented on #84
Yep, the language is intended to create the second block.

Luke Woodward – Engineering Manager
10up Inc. http://10up.com | luke.woodward@10up.com | @lkwdwrd

On Wed, Jun 24, 2015 at 10:53 AM, Taylor Lovett notifications@github.com
wrote:

[2015-06-25 21:58] #84 closed

[2015-06-25 21:59] #83 closed

[2015-06-26 03:27] bhubbard opened #88 "Changelogs?"
Was curious how your team handles changelogs for best practice? Thought this would be great to have in your best practices.

Similar to http://keepachangelog.com perhaps?

[2015-07-13 19:42] jonbellah opened #89 "Address how and when to use PostCSS"
On the heels of a discussion from today, I'd like to possibly add more discussion around some specific Grunt tools - in this case, specifically PostCSS.

Sass remains our preprocessor of choice, but PostCSS presents some interesting extensions that can be very useful. For example, Autoprefixer is no longer supported as a standalone Grunt plugin and now lives on as a PostCSS plugin.

To be clear: w

[2015-07-14 18:31] tddewey commented on #89
This may be an arbitrary distinction, but I see PostCSS as a tool to support older browsers. It allows front-end engineers to write standards-based CSS, but have the "older browser fallbacks and workarounds" taken care of by PostCSS.

The classic example is autoprefixer, which allows us to write standards based css and then have vendor prefixes applied. Another somewhat trivial example might be to

[2015-07-14 23:58] lkwdwrd commented on #89
Completely agree with Taylor Dewey here. Sass for extending CSS
functionality, PostCSS for writing in a more modern standards compliant
way. Well said.

On Tuesday, July 14, 2015, Taylor Dewey notifications@github.com wrote:

##

Luke Woodward – Engineering Manager
10up Inc. http://10up.com | luke.woodward@10up.com | @lkwdwrd

[2015-07-15 12:51] jonathantneal commented on #89
PostCSS best resembles a **build tool**, and it might make sense for us to address it that way.

---

Sass is something something.

We use the Sass syntax help us to write commonly-repeated patterns once, and reuse those bits throughout a theme or plugin. It’s more efficient and far easier to maintain code this way. To compile Sass, we use RubySass or LibSass — and we find LibSass to be a much fas

[2015-07-15 19:26] daveross opened #90 "Specific guidance on namespaces"
We've discovered inconsistencies with how namespaces are applied on some projects. Now that 10up engineers are adopting namespaces more widely in their projects, we should be providing more specific guidelines on how to use them in our projects.

A pull request will be coming after some thought on my end, but I wanted to open an issue to get my thoughts together. Any input is welcome.

What does t

[2015-07-15 20:03] dana-ross commented on #90
This most likely doesn't refer to _functional programming_ and should be changed to "procedural code", "non-OOP code", or re-phrased completely to keep engineers from getting confused when they google for help.

(maybe "non-template code" is closer to what's meant here?)

[2015-07-15 21:04] scottlee commented on #90
Totally +1 this idea, Dave. The docs as they stand now don't provide much insight into namespacing beyond the recommendation. I too would like to see further clarification around our internal naming policies for what comes after tenup. And, fwiw, I'm all for moving to TenUp vs. tenup, but only because it looks nicer.

[2015-07-16 14:52] tlovett1 commented on #90
Definitely agree we need to standardize how we namespace. Thanks for this Dave. Everything sounds good to me. I also like the idea of camelcasing like PSR standards. Would love to hear from some leads on this. CC @johnpbloch @ericmann

We could also use some guidance on how to add to the `Window` object in JS.

[2015-07-16 16:15] johnpbloch commented on #90
This is an excellent topic to discuss. Thanks for doing the legwork on this, @daveross.

I think requiring a `\<Vendor>\<Client>\<Project>` format as the standard for our namespaces within projects is a great recommendation.

I do not agree with this assessment as a standard. If that is the way engineers working on a particular project wish to operate, I think that should be allowed, but I don't t

[2015-07-21 15:52] aymanrady commented on #53
@tlovett1 [https://codex.wordpress.org/Function_Reference/query_posts](https://codex.wordpress.org/Function_Reference/query_posts) does a pretty good job at explaining it

[2015-07-22 15:49] scottlee opened #92 "(here|now)doc syntax"
This topic came up internally recently and we thought it'd be worth pitching here as well: **should we consider offering advice on how, when, and if to use (here|now)doc syntax?**
## Take this code as example:

[code]
### Pro/Con
- Pro: Easy to read. (vs. `?><?php` )
- Con: Doesn't allow for truly **late** escaping.
- Con: Increased chance of mistake. One typo could cripple the code below.
- ??

C

[2015-07-22 16:25] mphillips commented on #92
Another option is to use output buffering. The syntax seems cleaner if you need to call functions or or add in other logic.

[code]

But, I'm not sure we should standardize putting HTML in a variable because it is less secure and you can't escape late (right before output). Of course, there are edge cases that require putting HTML in a variable, but I don't think we should get into the habit of do

[2015-07-22 16:46] scottlee commented on #92
You're totally not butting in, @mphillips. You're spot on, output buffering is very much in the same vein as *doc syntax.

[2015-07-22 16:59] nicoladj77 commented on #92
I usually use Heredoc and call any function i need before it because it avoids to enter exit/php, I really have hard times reading php inside html code. I think it's more readable than double quotes as you can avoid escaping double quotes. It basically becomes a logic-less templating engine.
I think that heredoc syntax is ok for 5-6 rows, not for bigger chunks of html.

[2015-07-22 18:40] morganestes commented on #92
I like heredoc for the ease of reading, but the limitations of no late escaping and no processing inside (can't run a function call inside a heredoc) makes it pretty much unusable for the majority of WordPress use-cases.

I think the no late escaping is problematic enough on its own to warrant not including heredoc as a recommended practice, but I do see value in including it as an alternative met

[2015-07-22 21:27] nicoladj77 commented on #92
@morganestes i agree that inability to perform late escaping is a big problem. And it would be actually a reason to advice against using heredoc, or any kind of interpolation like double quotes, if we implement a static analysis tool to detect code which is not late escaped like WordPress VIP does.

[2015-07-23 17:43] daveross commented on #92
Personally, I'd like to see us get HTML out of PHP code as much as possible. I've had problems at past jobs where front-end devs accidentally added 1 character to a block of PHP while editing some embedded HTML and brought sites down. PHP, HTML, and JavaScript should be in separate files.

Anything big enough for a heredoc is a candidate to be moved into its own file and pulled in  include()-ed fr

[2015-07-23 17:44] dana-ross commented on #92
Personally, I'd like to see us get HTML out of PHP code as much as possible. I've had problems at past jobs where front-end devs accidentally added 1 character to a block of PHP while editing some embedded HTML and brought sites down. PHP, HTML, and JavaScript should be in separate files.

Anything big enough for a heredoc is a candidate to be moved into its own file and pulled in with `load_templ

[2015-07-23 17:49] joeyblake commented on #92
This comment brought this to mind. Mustache rendering can be used on VIP, and is one of their plugins.

https://vip-svn.wordpress.com/plugins/lib/Mustache/

[2015-07-23 17:58] saltcod commented on #92
Dave — I take it as a personal affront that you would even suggest such irresponsible behaviour from a front-end dev.

I ask — nay — demand— that you issue an immediate, unequivocal public apology.

[2015-07-23 18:41] nicoladj77 commented on #92
I used Twig and it's fantastic.
In theory i would prefer Mustache as it's logicless, but it lacks template inheritance.
But i would love any templating engine other than plain php :smile:

[2015-07-24 13:49] tlovett1 commented on #92
Great discussion! I think late escaping is a total must. I love twig/mustache style things but haven't seen it done in WP in such a way that blends well with the structure, is easily maintainable, and easy for others to pick up,

[2015-07-24 15:04] dkotter commented on #92
We recently used Mustache on a VIP project, both for loading the initial page, using Mustache PHP, and loading things inline, like infinite scroll, using Mustache JS. And it's true that Mustache doesn't have template inheritance, though they're supposedly working on that, but there are ways to get close to that, like partials.

Here's how we setup the Mustache PHP side of things, excluding the act

[2015-07-24 15:53] brs14ku commented on #92
+1 for Twig. I did a talk on Twig in WP at KC WordCamp this year. It's so nice keeping your PHP out of your markup.

[2015-07-24 16:05] scottlee commented on #92
I'm kinda happy with what this conversation has turned into. Because I think ultimately no matter where we land, we're all seemingly in agreement that the intermixing of markup with PHP (specifically heredocs in this example) has more downsides than up.

But before we go down the road of Twig vs. Mustache, perhaps we should first add to the docs stating we do not recommend having markup within our

[2015-07-24 16:49] morganestes commented on #92
I may be in the minority, but I'm okay with mixing PHP and HTML when appropriate, especially since that's the intended purpose of the language. The question I have is how best to do it, and heredocs don't seem to be that way for WordPress. That leaves things like `printf()` and its possible overuse, or breaking out of the PHP script for regular HTML and inserting PHP inline for escaped text and va

[2015-07-28 01:55] dana-ross commented on #92
I think that's a great first step, and it leaves the door open to whatever technologies we decide to experiment with or standardize on.

Scott, let's try to find some time after this week's wild ride to draft up something.

[2015-07-29 23:04] jonbellah commented on #80
Let's not reinvent the wheel. https://github.com/10up/Engineering-Best-Practices/pull/93 just removes references to {{HOME_PATH}} in the asset URLs, and instead references local assets.

[2015-08-03 21:00] jonbellah commented on #80
Fixed with #93 merge.

[2015-08-03 21:00] #80 closed

[2015-08-19 14:34] emeaguiar opened #98 "Include sanitize in best practices?"
From the current best practices:

Now that 10up has adopted sanitize.css, should we include it into our best practices?

[2015-08-19 17:24] tlovett1 commented on #98
Great idea! Want to create a PR?

[2015-08-22 06:36] westonruter opened #99 "PHP indentation in code is getting dropped"
For instance, look at https://10up.github.io/Engineering-Best-Practices/markup/#examples

<img width="989" alt="markup_md_-_engineering-best-practices_-____projects_vvv_www_engineering-best-practices__and_10up_engineering_best_practices" src="https://cloud.githubusercontent.com/assets/134745/9422879/5b481f6a-485d-11e5-8775-60092ff28827.png">

[2015-08-25 19:04] zrothauser opened #101 "Images: svg, responsive images, lazy loading"
Image handling is a subject that has become more complex recently, as responsive images are now more widely supported and are encouraged to support newer retina devices and to save bandwidth for mobile users. I think it would be worthwhile to have a section under Markup that deals with how we should implement images on sites.

I have a very rough draft here on what this section could include, and

[2015-08-25 19:12] TheLastCicada commented on #101
I've found lazy loading to be fraught with peril.  It can be implemented well and give a performance boost, but it can also be a performance drag if the site is already very javascript heavy.  There are situations where it can be tricky to get the desired effect.  If we're going to recommend lazy loading, I'd like to see a more in depth coverage of the topic and methods to achieve this.

[2015-08-26 21:45] dana-ross commented on #101
Is a PNG fallback really necessary anymore? SVG is [pretty widely supported](http://caniuse.com/#search=svg) outside of IE8.

[2015-08-26 22:44] jonathantneal commented on #101
Zack, great work getting this conversation started.

IE8 hits EOL from Microsoft on Jan. 12, 2016. However, I’m working on a new reskin of a site that must support IE8, and I’ll be working on a new site whose audience has more IE usage than Chrome, and more IE8 usage than any other version. I hope we draw a hard line on this soon. In the meantime, as long as it is our policy to support this relic,

[2015-08-27 02:54] zrothauser opened #102 "Images - SVGs"
Splitting off the discussion from #101 into separate discussions:

Our current statement on SVGs is "When using SVG you should always provide a fallback such as a PNG image for browsers that do not support vector graphics."

@daveross and @jonathantneal both questioned the need for PNG fallbacks, and @jonathantneal provided a possible update to the SVG wording:

[2015-08-27 02:56] zrothauser opened #103 "Images - Lazy Loading"
Splitting off the discussions from #101 into separate issues:

Do we want to recommend lazy loading images on image-heavy pages?

@TheLastCicada mentioned in #101 that it can be "fraught with peril", see that discussion for more details.

[2015-08-27 03:00] zrothauser opened #104 "Responsive Images"
Splitting off the discussions from #101 into separate issues:

Responsive images can be considered in two places: their use in the theme (static images and featured post images, for example), and embedded images inside post content.

One way that I've dealt with images (for the post featured images) can be seen here:
https://gist.github.com/zrothauser/a8e27f68d4ccdfb9881c
which would result in a s

[2015-08-27 03:01] zrothauser commented on #101
Splitting this into #102, #103, and #104 to keep the discussions more focused.

[2015-08-27 03:01] #101 closed

[2015-08-27 14:17] tlovett1 commented on #101
I don't want to recommend Jetpack Photon since I think we should remain agnostic there.

Would love to get @tddewey's feedback on all of this.

@zrothauser this is a great start!

[2015-08-27 14:18] tlovett1 commented on #103
I think it's worth mentioning lazy loading as a good technique, but I'm not sure we need to recommend it. @tddewey ?

[2015-08-27 14:58] morganestes commented on #102
I vote for replacing "an ID" with "a class" or "an attribute" (like `data-icon` or something of the sort) so it's clear that you can use it multiple places on a page.

[2015-08-27 15:28] jonathantneal commented on #102
My wording could be improved, because I think you’ve confused IDs in the SVG with IDs on the page.

The document:

[code]

The "sprite.svg" file:

[code]

See https://css-tricks.com/svg-symbol-good-choice-icons/

[2015-08-27 21:13] morganestes commented on #102
Derp! Yep, I got confrused there, and I'm guessing others who aren't intimately familiar with SVG syntax will, also. Honestly, I think I've only used inline SVG one time years ago, and I sometimes forget that the `<svg>` element/object exists to be used this way.

[2015-08-27 23:22] devinsays commented on #104
I definitely think we should consider using responsive images any time the theme defines and outputs large featured images.

Browser support listed here: http://caniuse.com/#feat=srcset. IE doesn't yet support srcset, but I don't see any reason why this couldn't just be used as a progressive enhancement for Chrome, Firefox, and Safari users.

I haven't had a chance to do a lot of testing with it y

[2015-08-28 00:30] tddewey commented on #104
**For image markup as part of the theme**, I would like to see us take more advantage of srcset. As @devinsays mentioned, it seems pretty safe to do this across the board.

Some notes:
1. Devs will need to be careful about how many image sizes they're asking WordPress to create. I'd prioritize front-end speed over disk space and back-end performance, but still. It can get ridiculous.
2. The case f

[2015-08-28 00:34] tddewey commented on #103
It's a technique, but I see it more often applied as a band-aid to try and reduce front-end load time. I'd prefer other optimizations first.

Additionally, some sites are better suited for it. The site that shows a huge list of image-heavy full articles may benefit more than a site that has one or two large images "above the fold."

I think lazy loading images is simply a technique. I'd suggest we

[2015-08-28 00:41] nicoladj77 commented on #104
One thing about srcset is that it might have some drawbacks as I think all images are loaded and not only the image for the used size. I remember @kdo talking about this and [found it also as question](http://stackoverflow.com/questions/26574422/how-do-i-tell-srcset-attribute-to-load-no-images-when-viewport-smaller-than-cert)
It's a good idea to lazyload srcset too.
In the project I'm working on,

[2015-08-28 00:46] tddewey commented on #102
Thar be dragons with svg :)

Still, I think we need to be pushing to use it for our sites as the advantages are real.

I'd recommend we write something into our best practices that is pretty strongly worded in favor of utilizing svg if IE8 is not a concern (based on real browser usage stats).

Even with modern browsers though, there are still a ton of pitfalls (just try to use the "use" tag withou

[2015-08-28 00:56] tddewey opened #105 "Transitions and Animation"
Do we need/want to include a section that outlines our theory on how and when for transitions and animation?

This section would:
• Identify when to use transitions/animations, when to avoid them
• Performance concerns and optimizations for transitions & animations
• UX considerations, such as animation duration (shout out to material design)
• Accessibility concerns (e.g. photosensitive epilepsy,

[2015-08-28 01:30] TheLastCicada commented on #103
I'd agree with this approach.  I'd be ok with it in the best practices if it were clear when the right time to use it was and when the wrong time to use it was, but I don't feel like there's a real clear distinction always.

[2015-08-28 12:03] ericmann commented on #103
Chiming in here as well, as someone who's implemented lazy loading on several large sites and published tutorials about the technique outside of the team. It's a great tool in certain cases, but that's usually when other (better) alternatives have failed or proven unavailable.

I agree with making it an internal doc about the approach, but not recommending it as a best practice. Suggest closing th

[2015-08-28 21:24] zrothauser commented on #103
I agree with all the above - closing this out.

[2015-08-28 21:24] #103 closed

[2015-08-31 13:47] tlovett1 commented on #105
We already have a piece on CSS animation performance. I could see an "Animations Best Practices" section being a useful add though.

[2015-08-31 13:56] tlovett1 commented on #104
@devinsays is right - the core proposal only addresses post inline images. I love the idea of standarizing on `srcset`. However, we have to find a way to solve the problem that meets a pretty diverse set of client needs. It is not the best use of anyone's time to create five versions of every single image. I feel like whatever we do has to include a JIT strategy for this to be feasible since `srcs

[2015-08-31 13:59] tlovett1 commented on #102
@tddewey totally agree. Excited to see a PR for this one.

[2015-08-31 14:00] tlovett1 commented on #99
Yep, @JonBellah and I spent a few minutes trying to fix this one to no avail (yet). It would be nice to correct though :) We will loop back to it.

[2015-08-31 14:44] devinsays commented on #104
I've been working on this, looking at featured images in Twenty Fifteen specifically. I should have something ready to share soon. In many cases, using srcset with multiple image sources could increase page load if retina images are used, which is something to consider.

[2015-08-31 16:34] jonathantneal opened #106 "Typography"
We should outline best practices for web fonts.

1. When and how to wire up self-hosted fonts.
2. How to best wire up font stacks.
3. How to manage page weight, async loading, fallbacks.

I’ll chime in with my opinions as time permits.

[2015-08-31 16:35] tddewey commented on #106
@allenmoore would love to see your thoughts here.

[2015-09-01 12:19] allenmoore commented on #106
Self-hosting fonts is the most performant option. This prevents multiple roundtrips from server to CDN, especially in the case where the font being used has multiple weights and styles. However, the font's license must allow this option. For self-hosting, the traditional `@font-face` call is the preferred method. I provide .eot, .woff2, .woff, .ttf, and .svg formats. This covers all major browsers

[2015-09-02 00:59] zrothauser commented on #105
I'd like to see a subsection on Animations under the "Accessibility" section - this could be something that we point designers towards when they make animation decisions.

[2015-09-02 01:03] zrothauser commented on #104
I think the increase in page load time is generally worth it on a retina notebook/desktop - the benefit is in the quality here, rather than the load time.

[2015-09-02 01:08] zrothauser commented on #106
I dealt with this recently on a site - the client brought up that the pages were showing a FOIT (details on that here: https://www.filamentgroup.com/lab/font-loading.html ). For them, the brief FOUT was preferable to the FOIT, and when the async loading was done in the head, the FOUT was minimal.

[2015-09-02 02:58] jonathantneal commented on #106
Use woff and woff2 fonts.

[code]

Woff fonts are well supported in the last 3 versions of all major browsers, including Android and Internet Explorer. If you must user older formats, such as eot and ttf, be aware of adverse side effects.

Woff fonts use zlib compression that typically reduce font size by more than 40% from their counterparts. Using older formats means older browsers with (typical

[2015-09-02 15:15] tlovett1 commented on #105
@zrothauser agree that it's relevant there too.

[2015-09-02 16:44] devinsays commented on #104
I did a bit of a deep dive into this subject using Twenty Fifteen as an example project:
http://wptheming.com/2015/09/responsive-image-best-practices/

General conclusions:
- We'll likely only start to see performance gains if default images are ~650px+ due to retina screens on many mobile devices.
- Responsive images may not make sense for all sites. It depends on the type of traffic and screen u

[2015-09-03 03:46] dacquin2003 opened #108 "upload image"
![jellyfish](https://cloud.githubusercontent.com/assets/13611925/9650132/144844d8-51ee-11e5-8f96-00f6ec762dde.jpg)

[2015-09-03 03:59] dacquin2003 commented on #108
![articles_side_bar](https://cloud.githubusercontent.com/assets/13611925/9650248/e5bf506e-51ef-11e5-9393-30adefae5ee1.png)
![commentaire_sur_article](https://cloud.githubusercontent.com/assets/13611925/9650252/ebbbb6a6-51ef-11e5-9218-75c70f14f0c6.png)
![contenu_2](https://cloud.githubusercontent.com/assets/13611925/9650259/f4b64d66-51ef-11e5-8914-d949cae65efd.png)
![contenu_article](https://cloud.

[2015-09-03 04:37] dacquin2003 commented on #108
![nl_publicdataexplorer_01_f](https://cloud.githubusercontent.com/assets/13611925/9650452/7cb44d74-51f2-11e5-8778-d87b83c0e2c9.jpg)
![hashtag1](https://cloud.githubusercontent.com/assets/13611925/9650458/87301878-51f2-11e5-8540-9cc98299ba4c.jpg)
![nl_publicdataexplorer_01_f](https://cloud.githubusercontent.com/assets/13611925/9650460/8e0bff7c-51f2-11e5-87ff-79fa1dcdeb5b.jpg)
![pixlr-express](https

[2015-09-03 04:37] #108 closed

[2015-09-04 14:51] helenhousandi opened #109 "Commit message best practices"
I just published [best practices for commit messages in WordPress core](https://make.wordpress.org/core/handbook/best-practices/commit-messages/), much of which is general commit message advice. This is mostly a placeholder issue so we add this to our own best practices at 10up, with some blog posts I plan on writing to go along with it.

[2015-09-08 21:26] morganestes commented on #106
I came across [this issue](https://github.com/chrissimpkins/Hack/issues/88) with using SVG fonts, which have been [deprecated by most browsers](http://caniuse.com/#feat=svg-fonts). Not sure if we should explicitly mention this, or just let SVG fonts die quietly.

[2015-09-08 22:24] jonathantneal commented on #106
Let them die. Let them rest in :v:.

[2015-09-23 19:12] dsawardekar commented on #109
About the description part of Commit Messages, I like Caleb's recommendations from [here](https://robots.thoughtbot.com/5-useful-tips-for-a-better-commit-message).
1. Why is this change necessary?
2. How does it address the issue?
3. What side effects does this change have?

Not all commits need this much detail. But it can be useful, particularly on Feature Branch merges.

[2015-09-24 22:00] ericmann commented on #109
I would like to see that kind of detail on merge commits, but it might be asking a bit too much for run-of-the-mill commits. The more documentation we ask for in individual commit messages, the more time and effort they take to write, and the less often the occur.

For smaller change-to-change commits, a quick "I did X" message is usually sufficient and helps keep multiple commits coming quickly.

[2015-09-26 13:23] helenhousandi opened #110 "esc_js() description is inaccurate"
The PHP security section currently says:

This is not completely accurate. The inline docs in core continue on to say:

Given that we should not be writing JS in this manner anymore, `esc_js()` should never be used. Escaping strings for JS use can be done using `json_encode()`, or better yet `wp_json_encode()` which does some sanity checking for non-UTF8 and handles different versions of PHP.

[2015-09-28 09:36] dsawardekar commented on #90
This is an important discussion. I also prefer shallow namespaces as much as possible. And PS-4 which allows greater flexibility without enforcing directory requirements.

Also while standardizing on namespaces we should provide guidance on the Autoloader to use. Using PSR-0 and PSR-4 in different modules for the same namespace is incompatible. We should standardize on one.

Agree with @johnpbloch

[2015-09-29 21:28] TheLastCicada commented on #109
Would love to see some commit message best practices in this doc that we can point to.  This comes up a lot and some guidance would be helpful.

[2015-09-29 21:29] brandwaffle commented on #109
+1 to @TheLastCicada comment.

[2015-10-01 20:23] tlovett1 commented on #110
Can you make a PR?

[2015-10-01 20:24] tlovett1 commented on #109
Would love to see a PR for this one.

[2015-10-26 14:26] stevegrunwell opened #114 "Internationalization by default"
@nicoladj77 brought up an excellent point this morning in a discussion on a current project: is it worth adding a section that advocates using i18n functions by default and never hard-coding a string in a theme?

Example:

[code]

vs.

[code]

Internationalization by default forces us to think about what content we're hard-coding, makes the sites ready to be translated at a moments' notice and, es

[2015-10-26 15:02] lkwdwrd commented on #114
+1

This is something we've discussed before and always decided to punt the conversation because it's not always something that's needed and means more function call overhead, and can potentially add coding time. However, I'm ready to say "yes"  here.

The run time overhead is minimal at best. Whenever I run profiling on projects with i18n, we're talking in the 1s of milliseconds overhead. As far

[2015-10-26 16:57] DrewAPicture commented on #114
I agree with @lkwdwrd.

I think this argument also goes to what @tddewey has written previously in terms of microcopy. If you're localizing strings and generating pot files, this makes you a lot more aware of where and what you're saying in the form of microcopy and in a lot of cases you might be saying the same thing in multiple places with different text. Having an awareness of what you're sayin

[2015-10-26 17:16] nicoladj77 commented on #114
@lkwdwrd +1

that's exactly what I think

[2015-10-26 17:20] emeaguiar commented on #114
Probably should be using escaping functions from the start, `esc_html__` instead of `__` and `esc_html_e` instead of `_e`

[2015-10-26 18:44] tlovett1 commented on #114
I think it's probably time to go ahead with this one. Agree with everything here. Anyone interested in spearheading the PR?

[2015-10-28 15:32] DrewAPicture commented on #114
I've started work on a PR in #115.

[2015-10-28 16:44] kdo commented on #98
Closing as this has been merged

[2015-10-28 16:44] #98 closed

[2015-11-10 17:40] kingkool68 opened #116 "Is get_posts() still bad?"
As of WordPress 4.3.1 (and probably earlier) `get_posts()` sets `'no_found_rows'`to `true` which is recommended by your best practices. See https://core.trac.wordpress.org/browser/tags/4.3.1/src/wp-includes/post.php#L1900

You can still pass in `'update_post_meta_cache' => false`, `'update_post_term_cache' => false`, and `'fields' => 'ids'` as needed.

[2015-11-10 19:46] tlovett1 commented on #116
Hmmm great question. The big thing I see is by default `suppress_filters` is set to true. Would be curious to hear what others think.

[2015-11-10 21:15] nicoladj77 commented on #116
I think that [this post](http://wordpress.stackexchange.com/questions/1753/when-should-you-use-wp-query-vs-query-posts-vs-get-posts) explains the differences between `WP_Query` and `get_posts()`   better than I could. I normally use `get_posts()` when I just need an array of posts and don't want to run filters, and WP_Query() for secondary loops, when I expect template tags to work.
![query_functi

[2015-11-10 21:49] kingkool68 commented on #116
According to the WordPress VIP Best Practices (https://vip.wordpress.com/documentation/caching/uncached-functions/) `get_posts()` is not cached via Advanced Post Cache unless you explicitly set `'suppress_filters' => false`

Much like @nicoladj77 I use `get_posts()` whenever I want to get an array of posts to loop over without using template tags.

[2015-11-11 19:32] tlovett1 commented on #116
Really, using `get_posts` is fine as long as your specify `'suppress_filters' => false`. However, I still think it's easier to just use WP_Query. Not sure we want to change this.

[2015-11-12 14:25] dana-ross commented on #116
I agree with @tlovett1 here. WP_Query works well out of the box, and we can pass extra parameters to make it even more efficient. From a _best practices_ perspective, I'd rather we steer clear of get_posts() as long as we need to pass a certain parameter before it's acceptable. We're fallible humans. We're not going to remember to disable filter suppression all the time.

I'd consider it more acce

[2015-11-13 14:59] kingkool68 commented on #116
I'm not part of 10up I was just curious and opening this issue caused me to do a little research. Thanks for the discussion all.

[2015-11-13 14:59] #116 closed

[2015-11-13 15:08] dana-ross commented on #116
No worries, @kingkool68 . It was a great discussion.

[2015-11-18 21:26] cmmarslender opened #117 "Add somethign about not using order by "rand" on sql queries"

[2015-11-19 14:46] tlovett1 commented on #117
PR?

[2015-12-04 02:49] raphaelkross commented on #110
Hi @helenhousandi and @tlovett1

I've just made a PR fixing the points reported by Helen, I hope it isn't a problem.

#118

Kind Regards.

[2015-12-11 22:25] emeaguiar opened #121 "Do not commit compiled files"
We have been talking about this in the Front-End Engineers room. We should not commit compiled/minified css or js files to the repository. We could be using hooks to run grunt and compile them in the server. That way we will see a lot less of conflicts when committing.

I think we should add a section about this and start putting it into practice.

[2015-12-11 23:39] nicholasio commented on #121
+1 for this.

[2015-12-14 20:06] tlovett1 commented on #121
I agree although this won't work for certain hosts i.e. managed WP hosts.

[2015-12-14 20:06] #99 closed

[2015-12-16 16:49] morganestes commented on #121
Although this is a commonly-accepted practice, as @tlovett1 mentioned it doesn't work for some hosts, and it is also a problem when using intermediaries who deploy on your behalf (hosted repos with only file access). Since each hosting environment is different, it's difficult to say "don't do this" without an example of what to do instead and for that to happen we're assuming much:
- You can deplo

[2015-12-16 17:38] jonathantneal commented on #121
As we discuss the pros and cons, I want to bring up the idea of allowing _uncontrolled_ hosts to work off **orphan** branches. This would mean uncontrolled hosts should not run from master, and in our case staging under 10uplabs.

Also, my two cents. The general preference should be ”source control is for the source code and not for the compiled code.”

[2015-12-18 08:17] ivankruchkoff opened #122 "Use colon syntax for PHP loops and conditionals"
Had a quick peek at a big cross-section of our codebase, and after removing all preceeding whitespace, out of those that begin with for, if, while:
cat loops-conditionals|grep :|wc -l ~= 100
cat loops-conditionals|grep {|wc -l ~= 800

Does it make sense to specify alternate syntax for control structures?

[2015-12-18 11:08] ivankruchkoff opened #123 "Nonce section cleanup"
Improve nonce documentation to include replay attacks, and an example of nonce tied to an action (as per code example) and a nonce tied to an action tied to a unique ID (as per trashing post example)

[2015-12-18 21:43] emeaguiar commented on #122
I think colon syntax should be preferred when working with markup, and brace syntax when dealing only in code.

So:

[code]

And:

[code]

[2015-12-18 22:27] DrewAPicture commented on #122
I'm not sure it's necessary to further define best-practices in using colon syntax in markup. This is already spelled out in the core coding standards for PHP (which we already assert following) under the [brace style](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/#brace-style) section.

[2015-12-18 22:33] emeaguiar commented on #122
Colon syntax is offered as a "if you want to" in the standards though, if we want to enforce it, it would be good to include at least a paragraph.

[2015-12-18 22:33] DrewAPicture commented on #122
Fair enough.

[2015-12-18 22:44] lkwdwrd commented on #122
I much prefer to see colon style conditionals and loops in markup. It's far
easier to see what is being closed:

<?php if ( true ) : ?>

<div>
 <ul>
  <li></li>
  <li></li>
 </ul>
</div>

<?php endif; ?>

There is no question that that last line closes an if statement. It's a lot
harder to follow brackets in markup.

<?php } ?> <-- what does this close?

You can put in comments and if you are real

[2015-12-30 23:14] DavidEBrumbaugh opened #125 "JS Best Practices"
I've been taking the course: https://www.pluralsight.com/courses/javascript-good-parts  and it appears that there is a tool, similar to PHP Code Sniffer called JS Lint.

Is this something we would want to encourage in our best practices?

[2015-12-30 23:31] dana-ross commented on #125
There's a couple different tools for doing this sort of linting:
- [JSLint](http://jslint.com/)
- [JSHint](http://jshint.com/)
- [ESLint](http://eslint.org/)
- [JSCS](http://jscs.info/)

One of my team's clients has us using JSCS, but I'd love to see 10up pick one tool & set of standards for other projects. This would tie into @stevegrunwell 's recent work nicely, too.

[2015-12-31 13:42] stevegrunwell commented on #125
Based [on the WordPress JavaScript Coding Standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/#installing-and-running-jshint) JSHint seems to be preferred (core even [includes a .jshintrc file](https://develop.svn.wordpress.org/trunk/.jshintrc)).

Personally I've always been partial to JSLint myself, but I think it's because using Crockford's tools always

[2015-12-31 15:45] DavidEBrumbaugh commented on #125
PHP Storm does have both JSHint and JSLint: https://www.jetbrains.com/phpstorm/help/jshint.html as a built in verifier.   PHPCodesniffer has been awesome.  As I am ramping up my JS sills, I will be adding that to my environment.

[2015-12-31 17:23] jonathantneal opened #126 "Editor Config"
Using an EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs. EditorConfig files are easily readable and they work nicely with version control systems. This is especially useful when there are many of us pushing to one staging branch and we want to reduce as many conflicts as possible.

http://editorconfig.org/#download

I have been using t

[2015-12-31 18:09] brandwaffle commented on #125
+1 for JSHint.

[2015-12-31 19:39] allenmoore commented on #125
+1 for JSHint

[2016-01-01 05:49] westonruter commented on #126
BTW, there is one in WordPress Core: https://core.trac.wordpress.org/browser/trunk/.editorconfig

[2016-01-01 05:53] westonruter commented on #125
JSHint is more for rudimentary checks. JSCS also does fully-on code-style checks, like enforcing proper whitespace usage. There is a built-in `wordpress` preset for JSCS: https://github.com/jscs-dev/node-jscs/blob/master/presets/wordpress.json

I use both the JSHint config from Core and also JSCS configured to use the `wordpress` preset.

[2016-01-01 16:06] d2s commented on #126
[EditorConfig](http://survivejs.com/webpack_react/linting_in_webpack/#editorconfig) allows you to maintain a consistent coding style across different IDEs and editors.

It is also useful for avoiding Markdown specific syntax problems:

[code]

[2016-01-04 13:58] jonathantneal commented on #126
I took a small audit of this project and found that editor styles change regularly between very similar files.
- `_includes/header.html` vs `_includes/tweet-button.html` (tabs vs 2-spaces)
- `_includes/components/_syntax-highlighter.scss` vs `_includes/components/_template-header.scss` (tabs vs 2-spaces)
- `php.md` vs `_includes/markdown/PHP.md` (2-spaces vs 4-spaces)
- `index.md` vs `javascript.m

[2016-01-04 14:41] tlovett1 commented on #125
There is also ESLint which seems to be the most powerful of the tools. However, I think JSHint is enough, and it's what WP core uses so I'm fine with sticking with it for now. +1 JSHint

[2016-01-04 21:55] morganestes commented on #126
+1 for EditorConfig in :allthethings:. Some IDEs have problems with their implementation (looking at you, PhpStorm :eyes:) in some cases, but overall a great tool for consistency in contributions.

[2016-01-04 21:58] morganestes commented on #125
Another vote for JSHint here, but mostly because of Core's use of it.

I really like JSCS, too, but haven't been able to get it to consistently check in all editors/IDEs I use (although command-line usage is okay).

[2016-01-04 22:01] tlovett1 commented on #125
Anyone want to write up a PR for JSHint?

[2016-01-04 22:02] tlovett1 commented on #114
@DrewAPicture any sense when this will be finished?

[2016-01-04 22:03] tlovett1 commented on #126
+1000. Can someone write up a PR and propose a standard .editorconfig? Using what's in core might make sense.

[2016-01-04 22:04] allenmoore commented on #125
@tlovett1 I'll be glad to.

[2016-01-05 19:16] tlovett1 commented on #125
Great!

[2016-01-05 22:26] morganestes commented on #126
@tlovett1 I can work on a new section for the docs and use Core's .editorconfig as the example.

It'll be a separate issue from #127, since that (and this issue) are related to applying it to the Best Practices docs themselves (so meta).

[2016-01-06 22:38] tlovett1 commented on #126
@morganestes that would be great. Thanks!

[2016-01-08 16:23] allenmoore commented on #125
@tlovett1 I've created a pull request for this: https://github.com/10up/Engineering-Best-Practices/pull/129

[2016-01-12 05:36] jonathantneal commented on #125
I think we should **not** conform to the [WordPress JavaScript Coding Standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/). Instead, we should update [JavaScript: Code Style & Documentation](https://10up.github.io/Engineering-Best-Practices/javascript/#code-style) to reflect the good work done by @allenmoore in #129 and include our own style guide.

Whil

[2016-01-12 18:30] #73 closed

[2016-01-14 08:55] benoitchantre commented on #121
Same thing for shared hosting.

I think the answer depends on how you will deploy the theme / plugin (sftp, git pull, plugin like GitHub Updater, third service like WP Pusher, etc.).

A section about private theme / plugin deployment could be a good addition. There could be different workflows depending on the server capabilities. Good practices / requirements already exist for [public  theme](htt

[2016-01-21 15:44] petenelson opened #132 "Use of filter_input()"
I've used Code Climate for several personal projects and something that is recommended frequently is using filter_input() rather than accessing $_POST and $_GET directly.  I didn't see anything in our best practices, so this might be something we could include.

[2016-01-21 16:19] Jaace commented on #132
I like this idea -- WordPress-VIP PHPCS highlights the access of these superglobals directly - it would be nice to avoid that issue. https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Flagged-superglobal-usage-in-WordPress-VIP

[2016-01-21 16:40] hamptonpaulk commented on #132
This is also an interesting note on the docs page. Saves a good bit of checking.
http://php.net/manual/en/function.filter-input.php#115086

[2016-01-24 04:10] morganestes commented on #132
I agree that it's a good idea to have something in our docs about not using the values from `$_GET`/`$_POST`/`$_REQUEST` without some sort of sanitization/validation, but we need to be cautious about the wording. Simply stating that it's not a good idea with some references (these links are great ones) should do the trick, but much more than that can turn into a lengthy discussion on security that

[2016-01-24 17:29] allan23 commented on #132
Also see: https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/issues/512

[2016-01-26 19:43] petenelson commented on #132
Adding this here as some possible example code... implemented this in a project today to save HTML on a user profile, callbacks can be used to call WordPress sanitize functions.

[code]

[2016-01-29 17:18] emeaguiar opened #133 "Remove markup from functions"
I'll try to make sense here... I've always liked to keep PHP, HTML, CSS, and Javascript as separate as possible, I feel like code is cleaner, sometimes, however, it's difficult to separate HTML from PHP, specially within the loop its not uncommon to see thing like this:

[code]

Now, I realize we can just print the html instead of storing it in a variable, but, what I suggest is to keep as much ht

[2016-02-05 12:56] dana-ross commented on #125
10up has traditionally adhered to WordPress's coding standards, but I agree with Jonathan. I've never liked that whitespace standard. It made more sense before syntax highlighters were widespread. Now...meh.

I'll take a look at #129 and #127 and see if I have anything to add.

[2016-02-05 13:10] allenmoore commented on #125
@daveross makes a valid point. Syntax highlighters makes the need for a whitespace standard pointless. Personally, I write without the whitespace, and allow my editor to format on save based on the WordPress JavaScript coding standards.

[2016-02-05 21:47] dana-ross commented on #133
I prefer to use templates for as much as possible. In your example, I'd honestly just pass $stuff to the template. Most templating languages have some looping construct. And if you're using PHP as your templating language, then you're set.

This came up in #92 as well.

[2016-02-05 22:48] nicholasio commented on #133
I'd rather not mess with query vars and just use include in combination with locale_template.

[code]

The problem with get_template_part is that it creates a new scope and thus your local variables can't be accessed through the partial. By using include directly, you don't create a new scope and thus, your variables are in the same scope as the file you have included.

[2016-02-08 17:10] dana-ross commented on #133
That's exactly why I like get_template_part(). I prefer to limit the set of variables available to the template to as small a scope as possible.

It's not so much of an issue at 10up. But I've seen templates get way out of hand, duplicating database lookups that already happened elsewhere in the code, using unsanitized input, and so on. It's safer to tell a front-end developer "you have variables

[2016-02-08 21:13] jonathantneal commented on #133
I, too, desire to keep PHP, HTML, CSS, and JS as separate as possible, @emeaguiar. Thanks for bringing this up.

@daveross, in @nicholasio’s example, is `$stuff` being within a function scope it so that a back-end developer can still tell a front-end developer "you have variable ($stuff or...) $x, $y, and $z available" ? If so, what are the advantages or disadvantages to this vs `set_query_var`?

[2016-02-09 10:25] drebbits commented on #133
It's not really much of a trouble to set query vars, and adding a limitation as to what the template could access provides additional layer of security—preventing almost any variable to be executed inside the template. Even in Underscore.js templating, it needs to pass the object which will be used in the template being called.

[2016-02-09 18:21] zrothauser opened #135 "Switch markdown engine to Kramdown"
The project is currently set up to use Redcarpet, instead the default for Github Pages, Kramdown.

Github Pages will only support Kramdown on May 1st:
https://help.github.com/articles/updating-your-markdown-processor-to-kramdown/

To go along with this, the only highlighter supported in Github Pages now is Rouge:
https://help.github.com/articles/page-build-failed-config-file-error/#fixing-highligh

[2016-03-15 12:53] tlovett1 commented on #135
Thanks for doing this research Zack! Can you create a PR?

[2016-03-15 12:56] tlovett1 commented on #133
I think we are all in agreement we like to separate HTML from PHP. However, I do think people get carried away with this. Sometimes a line of HTML in your PHP is much cleaner than the work around. Not a huge fan of `set_query_var` in that context. It feels forced, and whatever is set will be there in the query for other templates.

[2016-03-15 13:04] tlovett1 commented on #132
I'm not completely sold on `filter_input`. What if I just want to check if a `$_GET` variable is set? Should I use `filter_input`?

[2016-03-15 13:07] tlovett1 commented on #126
@morganestes any update on this?

[2016-03-15 13:16] tlovett1 commented on #114
Anyone want to finish this up?

[2016-03-15 13:16] #110 closed

[2016-03-15 13:17] bswatson commented on #114
I'll take it.

[2016-03-15 13:22] tlovett1 commented on #89
@jonathantneal I think that's a good start. Would love to hear others weigh in.

[2016-03-15 14:06] Camwyn commented on #132
When someone next creates a PR to change the wording, can someone please close the `absint()` in the very first example under "Input Validation and Sanitization"?

[2016-03-15 15:42] eugene-manuilov commented on #132
@tlovett1 if you just want to check if a variable exists, then you just need to use `isset` or `empty` functions. But if you need to get a value of a variable, then it is better to use `filter_input` function, because it gives you better instruments to check, sanitize and receive values.

[2016-03-15 16:44] #109 closed

[2016-03-17 22:50] TheLastCicada opened #136 "Versioning css and js files to bust CDN and browser cache?"
I skimmed through and I didn't find anything about how to version js and css code in WordPress to bust CDN and browser caches when deploying updates.  Something like adding ?ver=0.1.5 to the end of the enqueue URL so that the CDN picks it up as a new asset.  I see this as confusing for new engineers all the time and it'd be great to have a best practice to point to.

[2016-03-18 02:23] zrothauser commented on #135
This is updated in #137

[2016-03-18 14:07] tlovett1 commented on #136
Agree this should be required. WP actually supports a parameter for versioning assets.

[2016-03-18 14:08] #135 closed

[2016-03-24 16:20] stevegrunwell commented on #88
I'm in full support of this :+1:

Generally speaking we have a whole lot of projects that have been written throughout the years with varying degrees of formal change logs, but [KeepAChangelog](http://keepachangelog.com/) does appear to be the prevailing (and a sensible) standard to follow.

[2016-05-17 14:09] jonbellah commented on #136
Agree.

Generally, we use the `{THEME}_VERSION` constant, found by default in wp-make, and attach it to all of the assets we're loading through `wp_enqueue_script()` and `wp_enqueue_style()`.

If no one has an issue with that approach, then I write up a quick PR.

[2016-05-23 18:52] tlovett1 commented on #136
Sounds right to me.

[2016-06-08 14:58] dana-ross commented on #77
Headings are looking much better & consistent than when this issue was raised. Let's go ahead and close this one out.

[2016-06-08 14:58] #77 closed

[2016-06-10 14:01] saltcod commented on #102
Hey all,

I'd like to put together a PR for this over the next week or so.

While I do that, I thought I'd outline a few of the bigger questions I have:
- Should we talk about svgs in the context of a site's "icon system"? IE: talk about svgs as a better approach than icon fonts or a collection of pngs.
- if so, should it be in it's own section instead of just as a small part of the current sectio

[2016-06-30 19:50] joshlevinson opened #142 "Type declarations should not be used on filter callbacks"
By nature, arguments passed around in filters are unpredictable. While core may indicate that a developer can expect their callback to be passed an argument of a given type, any other implementor of that filter could have changed the value being passed around.

I suggest that it's best to not rely on PHP's [type declaration](http://php.net/manual/en/functions.arguments.php#functions.arguments.type

[2016-06-30 21:22] nicoladj77 commented on #142
I think that this depends a lot on what you are developing. I agree with you that Type Hinting should not be used when you are developing a plugin which will be Open sourced and will be used by everyone. In this case Type Hinting is bad, because it would bring down a site if another plugin breaks the filter contract ( with contract I mean the signature, the type of the parameters passed to the fil

[2016-06-30 21:33] joshlevinson commented on #142
@nicoladj77 Thanks for your feedback!
I definitely see where you're coming from. The specific case where I encountered this is where Yoast SEO was calling `get_permalink` over a `stdClass` object that was built to model a `WP_Post` (the object was the result of a direct `$wpdb` query). The callback in our theme strictly declared that the `$post` argument should be a `WP_Post` (as core indicates it

[2016-07-03 02:10] ericmann commented on #142
I'm all for defensive coding, but this is a lot of additional boilerplate to add and, as a design pattern/standard it will make the code quite a bit less readable. I'd err on the side of trusting documentation by default and using strict typing, then making case-by-case exceptions for bad members of the community (in this case, Yoast) who violate the API spec.

Because that's what we're talking ab

[2016-07-03 11:44] dsawardekar commented on #75
@tlovett1 PR is #144

[2016-07-03 11:45] dsawardekar commented on #126
@tlovett1 PR is #143

[2016-07-03 21:32] dana-ross commented on #142
@ericmann I see where you're coming from, but I think we need to take the defensive approach when dealing with WordPress plugins and the Core codebase. WordPress itself even does that.

`wp-includes/query.php` does exactly what @joshlevinson describes, using `get_post` to turn a WP_Post-like object into a bonafide WP_Post:

[code]

And it probably does that because WordPress Core set a precedent;

[2016-09-23 04:08] RachelRVasquez opened #149 "Headings out of order"
Was browsing the Best Practices and noticed the heading heiarchy currently skips H2's and goes straight from H1 to H3s and onward. If we want to follow a11y and [WP best practices](https://make.wordpress.org/themes/handbook/review/accessibility/required/#headings), headings should not skip numbers.

https://10up.github.io/Engineering-Best-Practices/markup/#accessibility

<img width="788" alt="scre

[2016-09-23 04:13] RachelRVasquez opened #150 "Do we implement Skip Links?"
Was curious what our standards are for skip links or if we make that decision on a case by case basis? I personally will try to implement them if they're appropriate for the project and while it's never really mentioned as a requirement, it just seems like a handy thing to have implemented and doesn't take much time to add. Wanted to get everyone's thoughts on making this practice more common?

[S

[2016-09-23 04:25] RachelRVasquez opened #151 "HTML5 elements repeating Landmark roles without ARIA labels"
We have two `<nav>` elements on the site, each with the landmark role `navigation`. Whenever using a landmark role more than once, an `aria-label` should be added to distinguish between them.

Reference from [the a11y WP handbook](https://make.wordpress.org/themes/handbook/review/accessibility/required/#aria-landmark-roles).

[2016-09-23 04:31] RachelRVasquez commented on #151
PR submitted for a fix: https://github.com/10up/Engineering-Best-Practices/pull/152

[2016-09-23 04:35] RachelRVasquez commented on #122
I know this is an old thread, but this topic came up recently for me on another project and wanted to share my thoughts. I was used to braces due to the WP standards before joining 10up, but agree that colons can be easier for readability. From what I'm hearing however, we should stick to braces if we're using PHP in a template without any HTML nested inside - but wondering if we should enforce an

[2016-09-23 04:44] RachelRVasquez commented on #74
Hopping onto this older thread as well, but this article could be inspirational:

https://kinsta.com/blog/wp-config-php/

Was a nice run through of the wp-config file and it's constants. Always found `WP_POST_REVISIONS` and `EMPTY_TRASH_DAYS` as nice things to add/adjust on WP installs, but haven't implemented since joining 10up as I was unsure of the standards. Open for thoughts? 😃

[2016-09-23 17:56] ericmann commented on #122
Given the typical "colons in HTML, braces elsewhere" approach can be confusing when dealing with PHP targeted for _templates_ versus for _logic_, I can totally understand your leaning and agree 100%. I think that's a solid approach that removes any sort of ambiguity.

[2016-09-23 18:03] ericmann commented on #149
I think we originally _did_ have H2s, but everything got moved in one (or more) of some refactorings to make the layout and navigation work properly. Shouldn't be any major impact to bumping things up a level, though, but someone should make the change locally and test first.

[2016-09-23 20:58] RachelRVasquez commented on #149
Sure I can do that. Will take a look locally soon. 👍

[2016-09-24 05:03] RachelRVasquez commented on #149
PR submitted. https://github.com/10up/Engineering-Best-Practices/pull/153 I've adjusted the styles so while the structure has changed, the underlined/bold weights still apply to where they applied on the live site. I didn't, however, change sizes. Not sure if we mind that the headings are slightly bigger than before or we want to change them to match what we currently have? Let me know. 👍

[2016-09-25 18:41] jonbellah commented on #150
👍 I think skip links would be a great addition to the accessibility section under markup.

[2016-09-25 18:42] Camwyn commented on #150
Agreed. I can't remember the last time I DIDN'T use them.

On Sunday, September 25, 2016, Jon Bellah notifications@github.com wrote:

[2016-09-29 19:17] RachelRVasquez commented on #150
Cool, I'll see if I can add a blurb to the existing a11y guidelines and submit a PR. 👍

[2016-10-03 02:29] RachelRVasquez commented on #150
Submitted a PR and open for feedback on improvements. 😄

https://github.com/10up/Engineering-Best-Practices/pull/154

[2016-10-04 18:02] RachelRVasquez opened #155 "Bug: Top Nav is wonky Looking"
Looks like the top nav is a bit strange around where the logo is.

![screen shot 2016-10-04 at 1 59 38 pm](https://cloud.githubusercontent.com/assets/10246844/19086164/11e6b860-8a3b-11e6-892e-0902ee438097.png)

Looks like the issue is coming from an nth-child margin right at `#page-header .top-nav .header-nav li:nth-child(4)`.

[2016-10-04 18:17] RachelRVasquez commented on #151
Looks like this was merged. Will close this out. 👍

[2016-10-04 18:17] #151 closed

[2016-10-04 21:33] RachelRVasquez commented on #155
After pinging the pattern library room, it looks like the "Migration" link was moved and was intentional.

I can submit a PR to fix, but the nav due to the Migration link shift looks uneven now from the left and the right sides. Is this how we want to keep it? Asking before I go through with the fix? Here's a screenshot of what it'd look like assuming Migration is where it should be now.

![screen

[2016-10-06 17:05] RachelRVasquez commented on #155
Submitted a PR: https://github.com/10up/Engineering-Best-Practices/pull/156 Hoping this should fix it, this works on my local.

Based on these two threads:
- https://github.com/jekyll/jekyll-help/issues/10
- http://stackoverflow.com/questions/9053066/sorted-navigation-menu-with-jekyll-and-liquid/9126294#9126294

[2016-10-10 17:09] tlovett1 commented on #155
Still broken

[2016-10-11 14:24] RachelRVasquez commented on #155
@tlovett1 Yep I'm aware - was trying some other solutions locally and have yet to find the solution. I've been pulled into billable work for the week. Any chance we can grab someone else to take a gander?

[2016-10-11 15:28] dkoo commented on #155
@tlovett1 @RachelRVasquez I tried fixing this with CSS and restored the sort by weight functionality (with actual incremental weights assigned to the pages). Also, I believe the header looks less off-center when "Migrations" is to the left of the logo, because of the varying lengths of the links. Please let me know if this works for you.

[2016-10-11 15:28] dkoo commented on #155
<img width="1133" alt="screen shot 2016-10-11 at 11 28 23 am" src="https://cloud.githubusercontent.com/assets/2230142/19276892/dc407e24-8fa5-11e6-8b21-c17c585dbb0b.png">

[2016-10-11 23:38] tlovett1 commented on #155
@dkoo can you swap "tools" with "migrations"?

[2016-10-12 16:11] dkoo commented on #155
@tlovett1 swapped: https://github.com/10up/Engineering-Best-Practices/pull/158

[2016-10-13 05:34] RachelRVasquez commented on #155
@dkoo This is awesome! Looks good - thanks so much for lending a hand here. 😄

[2016-10-13 15:15] emeaguiar opened #160 "[Navigation] Header hides behind menu"
When navigating through the site, going to any anchor will result in the title staying behind the menu, I think it would be a improvement to place the anchor in the title so we get more context as to what we're looking at. Specially if we link the best practices to someone else:

![navigation-hides](https://cloud.githubusercontent.com/assets/1379732/19354824/b344bcc2-912d-11e6-87f6-3358d05b8ec4.gi

[2016-10-13 15:22] RachelRVasquez commented on #149
Are we going to merge this one in or voting to skip this change?

[2016-10-13 16:24] RachelRVasquez commented on #160
PR submitted: https://github.com/10up/Engineering-Best-Practices/pull/161

[2016-10-13 17:22] jonbellah opened #162 "Package/Dependency Management with Yarn"
A couple of days ago, Facebook announced a new package manager called [Yarn](https://code.facebook.com/posts/1840075619545360/yarn-a-new-package-manager-for-javascript/). Yarn allows engineers to continue utilizing the npm registry, but has some additional performance and security considerations built in.

Yarn also has the potential to be a single solution for javascript and front-end package/dep

[2016-10-19 19:19] RachelRVasquez opened #165 "Adding tools we use for a11y"
Was discussing this with @timwright12 and thinking it'd be useful to list out some of the tools/resources for testing accessibility. Think it'd be a new section to add under "[Tools](https://10up.github.io/Engineering-Best-Practices/tools/)". Putting together a list now so I can submit a PR. 😄

[2016-10-20 14:10] RachelRVasquez commented on #165
Submitted a PR: https://github.com/10up/Engineering-Best-Practices/pull/166 Would love other people's feedback on some of the tools I added. I based them on an internal doc we have called "Accessibility for Engineers" for anyone that wants to look it up.

[2016-10-21 18:49] stevegrunwell commented on #136
@TheLastCicada have we made progress getting AAD available publicly? It would be great to be able to skip the version constants altogether and instead dynamically bust caches for assets that aren't given explicit versions.

[2016-10-21 19:14] stevegrunwell commented on #133
I second TL's view on going _too_ far in removing markup; there are also (albeit minor) performance considerations to consider when we're over-using `get_template_part()` or `locate_template()`, especially in a loop.

[2016-10-21 19:38] stevegrunwell commented on #92
While I agree that Heredoc can make late-escaping more difficult, there are certainly scenarios where it can be extremely helpful for string concatenation or patterns (especially if whitespace is significant, such as generating code samples). It's also super helpful when stubbing out test responses in unit tests:

[code]

XML aside, I can think of at least two major migration projects I've worked

[2016-10-25 17:22] ericmann commented on #92
FWIW, the general recommendation _against_ heredoc syntax orbits almost exclusively around security and internationalization. It's not just difficult to apply internationalization and escaping to the content of a heredoc, it's difficult to code review things later down the road. Yes, it's often simpler to have a large block of markup in a heredoc, but it can be very difficult to review the code _l

[2016-10-25 18:29] dana-ross commented on #126
PR #143 was merged. Closing this issue.

[2016-10-25 18:29] #126 closed

[2016-10-25 18:36] daveross opened #168 "Update schema.org section for JSON-LD"
Google now recommends encoding schema.org microdata using JSON-LD (https://developers.google.com/search/docs/guides/intro-structured-data#markup-formats-and-placement).

This also makes the markup easier to read & maintain.

Let's update the schema.org section of our Best Practices to include this, and make sure the examples get updated as well.

[2016-10-25 21:56] zanematthew commented on #168
Adding a reference to the Structured Data Testing Tool https://search.google.com/structured-data/testing-tool

[2016-11-01 13:44] joshlevinson commented on #162
I've been using yarn since shortly after its release. Faster installs, no issues for me locally.
I've modified the 10up Redux DeployBot repo to use yarn; it's working great there!
I'll likely continue to use yarn on new DB setups. 👍 from me!

[2016-11-09 17:39] Camwyn opened #169 "browserlist.config"
Since we now require a .editorconfig file ( #143 ) , should we also consider a [browserlist](https://github.com/ai/browserslist) file? It would solidify the requirements right in the repo and would ensure we're only adding required extensions.

Truth be told, we're already _supposed_ to be doing this in our grunt tasks, but it seems this would be an easy set-and-forget early on in the project, and

[2016-11-18 09:01] pj-dave opened #170 "Caching WP_Query objects is a bad idea"
Hello 10up! In the [caching section](https://10up.github.io/Engineering-Best-Practices/php/#caching) you have several examples where you're saving WP_Query objects to the cache. We wrote a pretty detailed article about [why this is a bad idea](https://pressjitsu.com/blog/dont-cache-wp_query/), and why caching the complete HTML output or post IDs is a much better option.

[2017-01-30 01:04] tlovett1 commented on #162
Yarn looks really promising. I realize it uses npm behind the scenes but it seems too early to all out replace npm.

[2017-01-30 01:14] tlovett1 commented on #169
This looks awesome. Would love to hear some more opinions.

[2017-01-30 01:16] #155 closed

[2017-01-30 01:16] tlovett1 commented on #149
Merged!

[2017-01-30 01:17] #75 closed

[2017-01-30 01:17] #88 closed

[2017-01-30 01:22] tlovett1 commented on #121
I think this should be mentioned as a best practice with the caveat that it isn't worth pursuing on certain managed hosts.

[2017-01-30 01:28] tlovett1 commented on #132
@petenelson that seems like a lot of code to sanitize a global variable. @eugene-manuilov is it really worth using this when it makes WP's sanitization/escaping/validation library difficult to use?

[2017-01-30 01:28] #133 closed

[2017-01-30 01:28] #136 closed

[2017-01-30 01:33] tlovett1 commented on #142
I really agree with @ericmann on this one. Defensive coding is great especially when dealing with third party APIs. However, it's really easy to take it too far. At some point documentation just needs to be trusted. I do think defensively checking parameters makes sense in certain situations (i.e. passing a post/WP_Query object). Not sure there is much to add to the Best Practices here.

[2017-01-30 01:37] tlovett1 commented on #168
+1

[2017-01-30 01:39] tlovett1 commented on #170
Totally agree. Would love to see a PR fixing this.

[2017-01-31 19:56] brandwaffle opened #176 "Version Control -> Workflow should explicitly mention using a staging server"
Currently we allude to using a staging server in our version control workflow section https://10up.github.io/Engineering-Best-Practices/version-control/. That said, we don't explicitly discuss staging servers themselves, or why they're part of a solid process for deploying code and ensuring site reliability. We should directly address staging/testing configs, including why they're critical, as par

[2017-02-22 13:26] timwright12 commented on #169
@tlovett1 @Camwyn I think this is cool for the instances where you're using more than one front-end tool that requires browser versioning. I don't know that I'd require it as a "best practice", but it could be a nice addition to `wp_make` or a place where we're trying to automate system processes.

As we have conversations like this about adding tools into our workflow we should keep an eye on ove

[2017-02-24 15:20] daveross opened #177 "When to use ES6 arrow functions?"
I'm going to come right out and say it: I love arrow functions. Combine arrow functions with some array filtering & mapping and…wow. Isn't it cool to compress a whole block of code into a one-liner?

Well…no, not always. And I'd like us to add a section on arrow functions to our best practices.

In our collective experience using ES6 so far, what challenges have we faced writing legible arrow func

[2017-02-24 15:27] dana-ross commented on #177
Maybe it's just me (disclaimer: I've been writing JavaScript since it came into being). When passing a function as a parameter (for example, a callback), I like seeing the word "function", with my editor flagging it in a different color so it stands out. At a glance, I can tell there's a function being passed, which can be lost with an arrow function.

[2017-02-24 15:39] ivankruchkoff commented on #177
The question can be rewritten as: When to use lambdas, modules, closures, variadic functions etc?

Or in a php equiv: When to use Namespaces, classes, anonymous functions, etc.

I don't think it makes sense to specify how X lang feature should be used as a best practice, because one person's love of a language feature is another person's hate.

I'm in favour of two things: 1) project consistency (

[2017-02-24 18:27] goldenapples commented on #177
I think that when arrow functions vs. anonymous functions vs named functions is just a stylistic choice, then it's totally fine to leave that up to to developer preference and project consistency.

The main case where I see arrow functions as useful and worth specifying as a best practice (when you can write ES6) is when functionally they behave differently than anonymous functions, for example if

[2017-02-27 04:34] jonathantneal commented on #169
I hope you’ll consider adding something about Browsers Lists. It’s useful for autoprefixer, yes, but also for [babel-preset-env](https://github.com/babel/babel-preset-env#support-a-browsers-option-like-autoprefixer), if you’re using any ES6 stuff.

Browsers lists only settle the minutia produced by the tools you already use. I think that means developers can focus more time on practical knowledge.

[2017-02-27 19:44] zanematthew commented on #177
Why not just a community based JavaScript coding standards?

https://github.com/airbnb/javascript#arrow-functions

[2017-02-27 23:06] tlovett1 commented on #169
Great discussion. I'm fine with waiting the standard out a bit longer to see if it really sticks.

[2017-02-27 23:08] tlovett1 commented on #177
I don't think the arrow function vs. closure function in PHP is the same thing at all. Arrow functions are purely stylistic. PHP closures have structural/design pattern consequences IMO.

As for arrow functions, I don't like them. It's harder for me to read. I say "leave it up to the developer".

[2017-02-28 16:24] dkoo commented on #177
I really like arrow functions, and in practice I make heavy use of them in exactly the situation highlighted by @goldenapples—when creating a small, anonymous event handler or callback for something like `setTimeout`/`setInterval`. I even prefer the more concise syntax when simply creating non-callback or non-handler functions, so I agree with "leave it up to the developer."

However, maybe it's w

[2017-02-28 16:51] jonathantneal commented on #177
@dkoo, fwiw, would you agree that scenario looks a lot like the day you realize you’re using an object as a class without just making a class?

[2017-03-01 03:15] dkoo commented on #177
@jonathantneal, That's a good point. Maybe it's a situation that only arises while you're transitioning away from ES5.

[2017-03-01 14:33] fuhton commented on #177
I'm not sure that arrow functions are purely stylistic. @goldenapples did a great job explaining some of the context implications that arise from the pattern and these functions definitely can change the structural impacts and design patterns of mappings and other chaining commands (.filter, .find, .concat). When taking a functional approach to JavaScript, arrow functions are a really great tool.

[2017-03-06 15:36] noplanman opened #178 "Proofread!"
Right, I have finally finished proofreading this great resource and am super grateful for all the things I was able to learn along the way! 😃

To make this easier to digest (as there are quite a few changes), I've split this up into a few different PRs, allowing reviewing and inline commenting to be much easier on each PR itself.

To keep everything in check, here the list of PRs and their content

[2017-03-07 18:27] noplanman commented on #178
Have rebased all PRs to include typos merge. 👍

[2017-03-16 14:38] ivankruchkoff opened #185 "Archiving Branches"
Would like to start a discussion here as to whether this is relevant. Thoughts?

[2017-03-16 15:45] ericmann commented on #185
This pattern was added to the best practices documentation to massage away a few individual concerns about using version control that, frankly, no longer apply. If the team is properly trained on how VCS works (either Git or otherwise), "archived branches" is fundamentally unnecessary.

I say this as the original proponent of the practice. 👍  to removing the documentation as irrelevant.

[2017-03-16 15:48] stevegrunwell commented on #185
I'm all for removing it. Git tags are useful for versioned releases or major milestones (e.g. "rolled out the new theme", "launched this major feature", etc.) but archiving `fix/spelling` clutters the repository.

If not a complete removal, the archiving should be scoped to only those that would truly benefit from tagging.

[2017-03-16 16:06] ivankruchkoff commented on #185
There's some active discussion in the 10up slack, reasons where it can be useful:
1) Beanstalk takes a long time to load for a CR.
Proposed solution: delete unused branches.

2) An incomplete feature still exists, and we want to avoid an engineer accidentally deleting the branch.
Proposed solution: anyone with a local copy can still restore the branch, anyone who knows what to grok can still find

[2017-04-03 14:03] kopepasah opened #186 "[Discussion] Cyclomatic Complexity Level in ESLint"
Is there a specific reason 10up choose a `complexity` level of `3` in `.eslint`? While I do agree, that the default of `20` is quite lenient, `3` seems a bit strict.

One might argue that the lower complexity enforces strictness and allows leniency on a per-file basis. However, I think the opposite practice (allow slight leniency and enforce strictness per-file) is more practical. The reason for t

[2017-04-10 14:25] jgraup opened #187 "Best Practice for installing bundler?"
I am trying to add bundler to compile this project but I am getting permission errors.

[code]

There is a lot of conflicting information on how to get around this issue.

What do you recommend as the best way to install `bundler` in order to compile this project?

[2017-04-10 16:51] ericmann commented on #187
From the looks of your error, you're running with the version of Ruby that comes with MacOS. I've faced the same issue myself, and what I did to resolve the problem was:
- Install [Homebrew](https://brew.sh/)
- Install [Ruby from Homebrew](https://www.ruby-lang.org/en/documentation/installation/#homebrew) (`brew install ruby`)
- Force the Homebrew version of Ruby to be used (`brew link -f ruby`)
-

[2017-04-10 21:43] tlovett1 commented on #186
I definitely agree. Although I don't have much experience with getting complexity warnings via ESLint. @fuhton any thoughts?

[2017-04-10 21:47] tlovett1 commented on #185
@ericmann what were the original concerns? I never really understood this. Here are the branch scenarios that I see:

1. Engineer is working on branch. Branch stays.
2. Engineer started on a branch but decided the code change was unnecessary. Engineer deletes branch.
3. Engineer finished a branch and merged into staging/master. Engineer deletes branch. Anyone who wants to find the branch should be

[2017-04-10 22:26] ericmann commented on #185
The original concerns were relevant to a specific team working on a specific client project (which was, at the time, the only project actively using multiple feature branches at the same time). The practice of archive branches was designed specifically for that project and adopted more broadly as it was the "best solution we have right now."

The specific justification for it was due to branches n

[2017-04-11 02:23] ivankruchkoff commented on #185
I put out a PR https://github.com/10up/Engineering-Best-Practices/pull/188 to remove the archive branches documentation, since based on this discussion, and the audit reason provided above, it's not something we SHOULD do for all branches, but rather selectively apply with discretion (e.g. unfinished branch / audit reasons)

[2017-04-11 02:30] tlovett1 opened #189 "Breaking Up with Backbone.js"
*Well everyone, I think it's finally time... to break up with [Backbone.js](http://backbonejs.org/).* I'm opening up this thread as a discussion, not a mandate. I'd like 10up Engineering (and the community) to fully get behind the future of advanced JS applications in WordPress, whichever direction we choose.

## Why?

Backbone.js is an integral part of WordPress. We decided on Backbone as the Jav

[2017-04-11 02:31] tlovett1 commented on #185
Thanks @ericmann and @ivankruchkoff !!

[2017-04-11 02:32] #187 closed

[2017-04-11 02:34] #185 closed

[2017-04-11 02:34] ivankruchkoff commented on #185
Merged and closed.

[2017-04-11 02:34] #169 closed

[2017-04-11 02:36] tlovett1 commented on #122
I'm closing this as we follow the WordPress Coding Standards that already dictates this.

[2017-04-11 02:36] #122 closed

[2017-04-11 02:37] #142 closed

[2017-04-11 13:52] jgraup commented on #187
@ericmann - Thank-you!

This worked following your instructions.

Small caveats:

* After installing and linking, terminal needed to be restarted for the path changes to take affect.
* After terminal restart, I was able to install bundler without the original issue.
* Running `bundle exec jekyll serve` gave an error : `Gem::LoadError: You have already activated json 2.0.2, but your Gemfile require

[2017-04-11 14:52] nicoladj77 commented on #189
I think that Backbone and React solve different problems. React and React DOM taken alone are not a framework, but just a tool: you don't have a router, you don't have a wrapper for AJAX calls, no models, you just have functionality to build a UI.
Backbone is still useful because the Rest API [client](https://github.com/WP-API/client-js) is built in Backbone. In my current project, I did the UI in

[2017-04-11 15:01] timwright12 commented on #189
Agreed about all points Backbone related here -- but I wouldn't say "dump it all together" -- there may be situations where it's still the answer to a problem. I would, however, like to see us identify a suite of frameworks to use in certain situations instead of attaching to a single one. This will allow us to choose the best tool for the job instead of the most popular one, while keeping pace wi

[2017-04-11 15:06] jonbellah commented on #189
Totally on board to break up with Backbone as a general recommendation, for all of the reasons you outlined, but I agree with Nicola and Tim that it still has its applications in practice.

In that same vein, I'm not sure how prescriptive we should be about frameworks and libraries. The javascript landscape is changing and innovating at such a rapid pace, and frameworks and libraries can solve suc

[2017-04-11 15:31] adamsilverstein commented on #189
Thanks for raising a great topic!

I agree with @nicoladj77 - Backbone and React solve different problems, I find them both useful and I am not sure we need to make a choice between them. I do agree with the overall point - we should standardize on building (especially medium-large non wp-admin) JS apps in React.

My experience using React so far has been fun and rewarding. It is fast, has a rich

[2017-04-11 15:38] thaicloud commented on #189
Also in agreement. I would opt to update our Best Practices to clarify that Backbone should _not_ be used for large applications, and instead recommend (rather than mandate) React.js as a very capable alternative.

That said, I am 110% behind the addition of a React.js section. For all the reasons TL mentioned, it's clearly a front-runner & an extremely powerful tool. In my experience, however, th

[2017-04-11 16:05] chanceymathews commented on #189
I think the problem with Backbone is that it's seen as a "framework" when it's not. It gives you a collection type and an observable object wrapper and some AJAX goodies, but that's about it. You still need to make up the rest of the stuff that goes into most apps. That's why Backbone projects are all so different and confusing. The issue isn't Backbone, it's all that stuff that Backbone _isn't_.

[2017-04-11 16:33] tlovett1 commented on #189
Awesome discussion everyone!

Addressing a few points:

I would argue that using the `wordpress-rest-api` npm package is a better choice. It can be bundled to be used in browser. I totally support "choose the right tool for the job". However, I can't think of an instance where Backbone.js is the right tool.

Again, I'm on board with using the right tool for the job. I'm not advocating using React.

[2017-04-11 17:26] tlovett1 commented on #189
Would love to hear from more people. Maybe @kdo, @eugene-manuilov, @cmmarslender, @tylercherpak, @sudar ...

[2017-04-11 17:32] adamsilverstein commented on #189
I can think of several instances where Backbone might be the best or sometimes only tool for the job, primarily in the wp-admin context:
 * A repeatable custom meta selector backed by WordPress custom post types or taxonomies.
 * A tabular view of a large WordPress backed dataset that needs to be asynchronously loaded and offer faceted filtering and search.
 * Enhancements for the customizer menu

[2017-04-11 18:44] tylercherpak commented on #189
I think one of the biggest issues I have faced with large backbone apps is the management of the state. I feel like the adoption of redux as a state container could go a long way as well. Redux in and of itself has no dependence on react and could be used with backbone with less effort than converting to react and redux all at once. Redux, when used correctly, can help everyone on a project know e

[2017-04-11 22:09] nicoladj77 commented on #189
I agree with you, but I think that we could use Backbone AND React in all those cases, Backbone for Collections and Models and React for the UI.
React simply abstracts the UI better than Backbone, and handles state changes without the need to touch the DOM, so it's better than the View part of Backbone. I still think that they are two different things that can be complementary in some cases

I wan

[2017-04-12 19:28] tlovett1 commented on #189
@adamsilverstein I agree there could be instances where Backbone.js is appropriate. I'd so all those instances are extending/mimicking existing WordPress functionality (customizer, media library, etc.). I think we can note that in the best practices.

As for React being a UI component. Yes, I agree. We'd use React in combination with something like Redux to create an application.

I don't see Back

[2017-04-12 19:58] eugene-manuilov commented on #189
_"To be, or not to be - that is the question..." (c) Hamlet (1609)_

I have been thinking about this discussion for a few days and want to say that it seems to me that we are losing original intent here. We are trying to find a golden mean by selecting most "popular" framework and trying to tell everyone to use it. Unfortunately, it's not gonna work, because there always be a case when other tool

[2017-04-13 15:35] sudar commented on #189
As someone who has worked on a couple of Backbone.js projects (especially with WordPress media modals) I totally agree with this. Even though Backbone.js code can get tangled a bit (especially with views) so far it is the only good solution for enhancing or extending WordPress functionality. No other framework/library can easily replace it for that use case (yet). I guess @adamsilverstein used Bac

[2017-04-13 16:03] ivankruchkoff commented on #189
On the Backbone side of things, the framework suffers from [TIMTOWDI](https://en.wikipedia.org/wiki/There%27s_more_than_one_way_to_do_it)

The workaround for having 10 ways to solve a problem is to have a preferred organizational approach to Backbone, with deviations where the model doesn't make sense.

Things that can be mentioned, view (and subview) composition. What belongs in the view and what

[2017-04-17 17:54] tlovett1 commented on #189
Ok, based on this thread, I think we need the following:

* JavaScript frameworks section added to Best Practices with Backbone.js and React.
* Both Backbone.js and React should mention situations where it's appropriate to use them along with some general best practices on using the framework.

Am I missing anything? Anyone interested in stepping up to write that section?

[2017-04-19 12:22] kopepasah commented on #189
Although I am not an Engineer at 10up, I just wanted to throw in my two cents. 😋

__tl;dr__ I completely support and advocate using Vue over React.

---

When writing React applications, things seem unnatural, hacky and lack a clear separation of code. You are always mixing HTML in JS and required to write using JSX (which sounds like JavaScript Extreme, but we all know it is not) - [this tweet](h

[2017-04-19 17:19] tlovett1 commented on #189
Thanks for the input, @kopepasah!

Still looking for a 10up'er to set up :)

[2017-05-02 19:48] saltcod commented on #189
I've been thinking about this thread for a few days now, tallying up pros and cons.

I definitely think it's time to start down the road of having more institutional knowledge of a new framework, as we have had for years now with Backbone.  I think this knowledge will be more useful in React-land than Backbone-land, as React seems to suffer less from the effects of TIMTOWDI than Backbone.

That sa

[2017-05-05 04:53] tlovett1 commented on #189
I definitely understand why some prefer VueJS over React. My hesitation with VueJS is it is the newest of the bunch, and React has already been embraced by the WordPress community.

No matter which direction we go, things will change over time. I'm sure in two years we will revisit the topic. However, we still need to move forward, and our current motto "Backbone all the things forever" since the

[2017-05-16 17:57] ryanwelcher opened #193 "Adding anchors to subsections"
When linking to sections of the Best Practices, it would be great to be able to target a subsection. For example, being able to link directly to the Caching section under Performance.

I'll get a PR submitted for this shortly

[2017-05-16 18:03] dana-ross commented on #193
While I agree anchors would be great to have, you can link directly to a section now by setting the URL's fragment to the heading's id.

Since the markup contains `<h3 id="caching">Caching</h3>`, https://10up.github.io/Engineering-Best-Practices/php/#caching links directly to the Caching section.

[2017-05-16 18:23] ryanwelcher commented on #193
:facepalm we'll just chalk that up to user error. Thanks!

[2017-05-16 18:23] #193 closed

[2017-05-19 14:38] jonathantneal opened #194 "Guidance on <head> and <body>"
There is a distinctive lack of guidance regarding `<head>` and `<body>` tags on the web.

**TL;DR**: the `<head>` tag should probably be avoided. The `<body>` tag can be optional unless paired with an attribute.

#### Browsers already create `<html>`, `<head>`, `<body>` (I’m not recommending you omit `<html>`)

HTML parsers in all browsers — Blink in Chrome Canary, Trident in Internet Explorer 6,

[2017-05-19 15:51] jalbertbowden commented on #194
what about the importance of meta charset? isn't that necessary to prevent cross-site scripting, amongst other things?
also i don't see the html element in use in google's example with lang="" attribute which is a necessary in my opinion.
not saying this is wrong, just confused about what exactly the point is...

[2017-05-19 16:04] jonathantneal commented on #194
Google’s example is so minimal it raises the questions you ask. Let me know if these answers help.

On charsets and xss: It’s off topic of `<head>` and `<body>` but again Google’s example is so minimal. My two cents: some people add it with a `<meta>` tag, some people add it with headers, and some people add both. As long as the charset is there and it’s consistent with the content, awesome.

On l

[2017-05-19 16:59] jpdevries commented on #194
My concern with encouraging omitting the `<html>` tag is that people will be even less likely to set the lang attribute, which should always be set. At our bootcamp we make sure students get in th habit of setting this.

Yes you can set lang on any attribute, but Ive never seen anyone using this "optimization" pattern do so. My two cents are that the reason browsers add these elements to the DOM i

[2017-05-19 18:18] jonathantneal commented on #194
@jpdevries, you are not talking about my recommendation. You are reading into Google’s example. Is there a better way I could be more clear that I am not talking about languages, charsets, or the `<html>` element?

[2017-05-19 19:13] ivankruchkoff commented on #194
There's a spec for html5 which specifies functionality:
https://www.w3.org/TR/html5/document-metadata.html#the-head-element

A head element's start tag may be omitted if the element is empty, or if the first thing inside the head element is an element.
A head element's end tag may be omitted if the head element is not immediately followed by a space character or a comment.

There are more browsers

[2017-05-19 19:19] jonathantneal commented on #194
Thanks, @ivankristianto! I hope you saw that I mentioned this behavior applies to all browsers; UC Browser, IE6, etc. The benefit is about avoiding the gotchas of `<head>`’s weakness. Not many people check the organization of their metadata, so if you find it useful to know that `<h1><p>SEO</p></h1>` is not a heading, you might also want to know the things I’ve shared about `<head>`, too. If nothi

[2017-05-19 20:15] jpdevries commented on #194
@jonathantneal I think you are being clear. I was referring to concerns with Google's example. One thing that might be worth examining I think

Web Developers write tags. Browsers make elements based off tags (or automagically as you suggest). So in that scenario, there is no body or head tag&hellip; is there? The browser is creating elements even though there is no corresponding tag in the docume

[2017-05-19 20:36] jalbertbowden commented on #194
pretty sure the rendering engines go back and add them in for graceful degradation, as in correcting mistakes of the past.
i think i get this now, and i can't say it is wrong, but to echo @jpdevries points, too much is already overlooked and ignored by the web community as a whole. accessibility is broken practically everywhere, and this example is a jumping off point to breaking it even more, as

[2017-05-20 00:09] jonathantneal commented on #194
@jpdevries, yessir, and I hope this discussion has been at the very least educational. @jalbertbowden, I think you make some great points. I like your rant! I do hope you’ve seen that `<head>` and `<body>` are optional, and I hope you’ve seen some of the issues you can run into when expecting `<head>` to work a certain way, but you are so right that we don’t want to encourage a culture of unnecess

[2017-05-24 15:56] ivankruchkoff commented on #194
Closing this out as I think we've looped through the full discussion on this topic. Feel free to re-open / comment if there's more to add or a relevant PR to link to.

Thanks @jpdevries, @jalbertbowden and @jonathantneal for the productive discussion.

[2017-05-24 15:56] #194 closed

[2017-05-24 16:43] JJJ commented on #194
This is why being explicit is so important, and why lenient interpreters don't actually do anyone any favors.

Between PHP, JavaScript, and browser rendering engines, people are accidentally encouraged to write the the loosest and sloppiest version of something that works at least once, instead of writing the best version of something that works well for everyone always.

Technically, you can buil

[2017-05-24 16:50] jonathantneal commented on #194
Hmm? Why? You’ve forgotten your fact, and skipped to your conclusion. In fact, your entire post is a conclusion.

EDIT: I’m glad to review your new evidence. Please be careful with writing conclusions without evidence, is all.

[2017-05-24 17:59] JJJ commented on #194
I haven't forgotten anything, and your reply comes across as quite rude and uncooperative, but I'll reply assuming that isn't the case.

This is a non-issue, in search of a problem, in search of debate, which will result in no change. If you're looking for reasons to do something, you'll keep inventing them.

These tags are not optional. Rather, they are so mandatory that browsers have built-in su

[2017-05-24 18:41] jpdevries commented on #194
I understand this discussion is about `<head>` and `<body>` and not necessarily `<html lang>`. Not trying to derail but I just want to share this because it was helpful for me to understand the important of the `lang` attribute. The problem with this:

[code]

Is this https://github.com/TryGhost/Casper/issues/286#issuecomment-281950302

For i18n and screen reader support the `lang` attribute shoul

[2017-05-24 19:14] JJJ commented on #194
This is correct. It's also up to browser vendors to decide what magic they perform when a `lang` attribute is discovered, in addition to what the client website can perform with CSS/JS:

See: https://www.w3.org/International/questions/qa-lang-why

If `test.html` includes only this:

[code]

All current versions of Chrome, Safari, and Firefox will actually render:

[code]

Interesting that none of

[2017-05-24 19:23] tlovett1 commented on #194
Love the discussion! Thanks for posting @jonathantneal. I think this is something to keep an eye but don't really see this being useful in our best practices.

[2017-05-26 15:22] jonbellah commented on #162
Bumping this thread, now that Bower has officially been deprecated: https://github.com/bower/bower/issues/2298

Will put together a PR soon to remove Bower from our toolset, with a separate PR to include Yarn.

[2017-05-26 15:54] tlovett1 commented on #189
Good read on Core making the same move - https://wptavern.com/wordpress-to-select-new-javascript-framework-for-use-in-core

[2017-05-26 16:08] ericmann commented on #162
As a Bower contributor, this makes me sad :'( But @JonBellah, that's definitely the way to go.

[2017-06-30 21:02] nicoladj77 opened #195 "Changing guidelines on Documentation"
I would like to start a discussion here on what are the best practice on commenting code.

In the last year and a half, I basically stopped writing comments on code unless I was really forced because the comment was absolutely needed. There are some reasons for this:
- comments rots.
- docblocks rots much faster than comments.
- whenever source code is available ( for example, core Wordpress ) I n

[2017-07-06 02:26] tlovett1 commented on #195
Hey @nicoladj77, I believe there is a middle ground in the "comment all the things" vs. "if it requires a comment, it is too complicated school of thought".

Personally, I maintain a number of code bases, both for 10up and personal projects, some of those projects I update once a year. Docblocks and inline comments are indispensable for remembering what I was thinking when I originally wrote the c

[2017-07-06 20:44] lkwdwrd commented on #195
I personally find well-written and maintained DocBlocks indispensable. The
problem is most engineers don't update them when they refactor -- to
Taylor's point when code is changed, the DocBlock should be update as well.
The other thing that I see very often is a super minimal DocBlock comments.
A very vague short description, param definitions with types but no
description. In my opinion we should

[2017-07-06 21:13] moraleida commented on #195
On a more practical note, it is much easier for a Code Reviewer to say "please add comments to your code" or "please adjust the docblock to reflect the new functionality" than to constantly evaluate if an evolving class/method would be easily understandable to someone taking over this project a year from now - to me this is a good enough reason to keep comments.

Maybe we need more detailed instru

[2017-07-06 21:27] bswatson commented on #195
Specifically talking about DocBlocks -

Creating detailed comments for functions and classes which include:

1. What is the purpose?
2. Why is this necessary?
3. Is there business logic that will be encoded here? If so, describe the logic in plain easy-to-read language.
4. What are the expected inputs and outputs?
5. Are there cases which may require special handling of returned data?

Given that

[2017-07-07 14:32] dana-ross commented on #195
As far as the Engineering Best Practices go, I think what we have is good. It gives minimal advice on when to comment, instead focusing on the details of what styles we prefer. It also specifies that we follow the WordPress coding standards, and has a section on SassDoc.

Even though we defer to the WordPress coding standards, I think as long as we specify SassDoc, we should also call out PHPDoc a

[2017-07-07 17:34] nicoladj77 commented on #195
@bswatson regarding your example:

What is the purpose? **This should be clear from folder structure and naming. "Taxonomy/Personality.php" to me holds this information**
Why is this necessary **? I think this is not related to code. keeping with the previous example, "Taxonomy/Personality.php", I think it's clear why this is necessary: we need to handle a Personality tax. The reason why we need i

[2017-07-08 02:36] stevegrunwell commented on #195
Echoing the general sentiment here, documentation is invaluable, especially in environments where developers are constantly being swapped out mid-project.

With regards to documentation rot, I can't recommend strongly enough making documentation review a required part of code review. Changed the function signature but didn't update the documentation? That's a good reason to kick the code back to t

[2017-07-09 19:02] nicoladj77 commented on #195
@stevegrunwell I think that bad projects are bad, with or without documentation. what I'm arguing is that the time spent on keeping documentation up to date could be better spent on enforcing clear code.
This is to answer also @moraleida and as an example: whenever as a reviewer you are asking for "more comments", what are you truly asking for, in truth?Usually clearer code. When comments are adde

[2017-07-09 19:57] nicoladj77 commented on #195
Of course thank to everyone for sharing opinions! :)

[2017-07-10 02:24] ivankruchkoff commented on #195
@nicoladj77 I agree with you that comments DO tend to rot. The only way to avoid code rot is to have comment quality enforced at CR, and buyin from the team that it will happen, and buyin from the team maintaining the project in 6 months, and from the team maintaining the project one year down the track.

This also includes projects (some, not all) that get to that phase towards the end where ther

[2017-07-10 02:32] ivankruchkoff commented on #195
I disagree with this part, I'll always follow the function spec rather than the implementation, because that's the only way you'll ever find documentation bugs. Also, I hate reading through code to figure out how something works when it's easier to just be told how it works. Take a look at this function, first look at the function:

https://gist.github.com/ivankruchkoff/841885495873a1fe2ec0645b079

[2017-07-12 21:11] morganestes commented on #195
We all probably have good anecdotal evidence for removing or increasing inline docs ("clients pay for working code, not comments"; "if you can't understand the code without comments, then you're not good enough to work on it", "we write code for humans to read and computers to run"), but I'd like to reference a [post written by JJJ](https://jjj.blog/2012/06/inline-documentation/) and linked to fro

[2017-07-19 14:37] tlovett1 commented on #195
Great discussion all around.

@nicoladj77 I do think there could be a nice addition to the BP to the effect of "while we strive to write code that explains itself, documentation is still important..." Maybe something about updating documentation to avoid rot as well.

[2017-07-27 23:20] moraleida commented on #114
This was finished on #190

[2017-07-27 23:20] #114 closed

[2017-08-07 03:17] tlovett1 commented on #195
How does everyone feel about a PR on message with this?

[2017-08-16 18:24] petenelson opened #198 "Update AJAX Endpoints section to recommend REST API endpoints"
Now that core has both the built-in REST API endpoints as well as the ability to create custom endpoints, we should update the best practices to recommend custom endpoints instead of custom rewrite rules and `template_redirect` hooks.

https://10up.github.io/Engineering-Best-Practices/php/#ajax-endpoints

[2017-08-16 18:27] dana-ross commented on #177
Great discussion here. I'm going to close the issue without a pull request because I haven't seen this syntax abused to make unreadable code. Thanks everyone!

[2017-08-16 18:27] #177 closed

[2017-08-16 18:31] dana-ross commented on #72
@tlovett1 No discussion on this in two years. Want to go ahead & close this one?

[2017-09-06 21:43] bengreeley opened #199 "'hierarchical => false' When Using WP_Term_Query on Large Taxonomy"
Functions that use the `WP_Term_Query` class such as `get_terms()` have `hierarchical => true`   set as a default. This can be problematic for taxonomies that have large number of nested terms. When hierarchical is set to true, the class calls get_term_children(), which in turn calls itself recursively. For instances where there is a small number of terms (less than 1000, it seems) this isn't an i

[2017-09-26 02:11] tlovett1 commented on #72
Agreed.

[2017-09-26 02:11] #72 closed

[2017-09-26 02:25] tlovett1 commented on #199
@bengreeley appreciate the post. I took a brief look at the `get_terms` method in `WP_Term_Query` and see what you're saying. However, the function is pretty dense (800+ lines long) so it was hard to follow.

I did see some caching in `_get_term_hierarchy` which is called by `get_term_children`.

I'd love to see a PR written with this. I also think it would be worth addressing this in core.

[2017-09-26 02:26] tlovett1 commented on #198
Definitely agree. Would love to see a PR.

[2017-09-26 02:27] tlovett1 commented on #189
Haven't forgotten this thread :) I'd like us to address this after core makes a final decision.

[2017-09-30 20:43] timothyjensen opened #201 "Recommend use of `update_option()` vs. a combination of `delete_option()` and `add_option()`"
As of WP v.4.2 `update_option()` conveniently accepts a third argument to disable autoloading https://codex.wordpress.org/Function_Reference/update_option.  I think this sentence `PHP.md` could be reworded to reflect that change:

[2017-10-13 17:00] ivankruchkoff commented on #198
Propose splitting that section into two parts: Ajax endpoints (containing references to rest API) and scenarios where it's a non ajax endpoint (e.g. something that returns templates / dom partials ) and contains the current recommendations with rewrite_rules + template_redirect.

[2017-10-13 17:04] petenelson commented on #198
With the `rest_pre_serve_request` filter, it's easy to return non-JSON responses from an endpoint, so I'd still lean towards not using rewrite rules and template redirects and instead still take full advantage of the sanitization, validation, permissions, etc from the REST API.

[2017-12-18 13:23] nprasath002 opened #209 "Make subtitles linkable"
I am think it would be helpful to have subtitles linkable from a main section.
https://10up.github.io/Engineering-Best-Practices/php/

If it make sense i will go ahead and create a PR for this

[2017-12-18 13:44] nprasath002 commented on #209
Now i see the you can select the subtitles from the main menu and link it. Still a github style link that appears on page would be useful

[2017-12-18 13:47] nprasath002 commented on #53
@tlovett1
I already see a section that explains this. Is there anything you need to add there?

[2018-01-03 02:31] nprasath002 commented on #102
Looks like SVG is supported in all browsers now
https://caniuse.com/#feat=svg

[2018-01-03 02:39] nprasath002 opened #211 "Add a search function to Engineering best practices"
Would be useful to have a search function on https://10up.github.io/Engineering-Best-Practices/ to quickly search related items

[2018-01-03 05:43] nprasath002 commented on #121
This already merged with https://github.com/10up/Engineering-Best-Practices/commit/15ba91d7c6a353e158ccc4d2c9e9cc63f8c71bfd. Closing this now

[2018-01-03 05:43] #121 closed

[2018-01-06 06:06] dana-ross commented on #102
Indeed. SVG support is really good in 2018.

We did have a discussion come up in a project recently about SVG security, since SVG does allow for embedding JavaScript. Browsers will ignore code in an SVG [if it's included in an `<img>` tag](https://www.w3.org/wiki/SVG_Security#SVG_as_image). SVGs included directly in the page markup (say, to make rendering icons faster) still get code executed. We

[2018-01-12 04:22] nprasath002 commented on #117
will it make sense to create a new section do database best practices?

[2018-01-12 04:25] nprasath002 commented on #123
I think this is already documented now?

[2018-01-15 04:11] tlovett1 commented on #209
Like a little link icon next to each header? That could definitely be useful!

[2018-01-15 04:11] tlovett1 commented on #211
Definite +1

[2018-01-17 13:56] #170 closed

[2018-01-23 20:36] ganusoft commented on #199
I am working on a project that sale car parts and i have created year/make/model with Toolset taxonomy but after i entered all the cars and models it has become very slow to load the shop page.  I trying to following post but i am not too good in wordpress. Please is there anyway you can assist me.

[2018-01-23 21:35] ericmann commented on #199
@ganusoft This is not a support forum, it's an issue tracker for best practices documentation regarding WordPress development in general. If you're looking for direct user support, I'd encourage you to visit the [official WordPress support forum](https://wordpress.org/support/).

[2018-02-06 15:23] timwright12 opened #214 "Update JavaScript Best Practices"

[2018-02-06 15:24] timwright12 commented on #165
PR https://github.com/10up/Engineering-Best-Practices/pull/213

[2018-02-06 15:27] timwright12 commented on #162
Closing this out to file a new issue around updating the docs to reflect NPM for dependency management

[2018-02-06 15:27] #162 closed

[2018-02-06 15:29] timwright12 opened #215 "Update Dependency Management in Docs"

[2018-02-11 17:32] michaelizer opened #216 "Documentation: Translation into Spanish Language #312"
Greetings, I would like to contribute to the project by translating it into Spanish. Spanish is my native language so don't panic, but a lot of Spanish speakers are still limited by the language so this is primarily to help them. At Utopian we love contributing to open source projects.

Thanks in advance for your time. Keep up the great work.

[2018-03-30 15:35] adamsilverstein opened #220 "Add section on user data and privacy"
With the introduction of the GDPR (https://www.eugdpr.org/) and increasing concern of privacy and user data online, it would be good to update our Engineering Best Practices to include a section on user data and privacy handling. Practices for cookies, consent and data collection and storage. Practices can closely follow the GDPR rules as a starting place.

[2018-03-30 15:38] adamsilverstein commented on #220
See also: https://make.wordpress.org/core/2018/03/28/roadmap-tools-for-gdpr-compliance/

[2018-03-30 17:44] ivanlopez opened #221 "Gutenberg"
With the Gutenberg merge looming I wanted to open this issue so we can start discussing what 10up feels are the best practices when creating and using custom Gutenberg blocks.

[2018-04-05 15:38] dana-ross commented on #168
Old issue. Already addressed in #197 . Closing.

[2018-04-05 15:38] #168 closed

[2018-04-05 15:39] dana-ross commented on #106
@timwright12 Old ticket but it might be worth picking up again.

[2018-04-05 16:43] tylercherpak commented on #189
I would like to resurface this now that gutenberg is coming soon. Anyone have new perspective with regards to the new admin interface?

[2018-04-06 13:00] dana-ross commented on #189
There is an issue #214 for updating the entire JavaScript Best Practices section. Adding this note here so there's a link between these issues.

[2018-04-06 13:04] dana-ross commented on #214
I think we can take out the Underscore recommendation. With ES6 we finally have all [the most popular features in the language itself](https://www.reindex.io/blog/you-might-not-need-underscore/) and our new theme & plugin scaffolds use Babel.

[2018-04-06 13:05] dana-ross commented on #214
Same with jQuery. A lot of the things we use it for (DOM element section, AJAX, DOM manipulation) are handled natively pretty well now.

We might want to document a preferred way to do `fetch()` in IE11.

[2018-04-06 16:21] adamsilverstein commented on #214
👍 Great idea! Especially if we include resources like @daveross's  link above to help people learn the modern equivalents.

[2018-04-06 16:47] ivankruchkoff commented on #214
It's worth having a discussion of which javascript we do want to support.

 If it's only ES6, but there are some browsers that don't support it, we still need to transpile / polyfill.

If we are transpiling / polyfilling, why arbitrarily stop at ES6?

Should we use the latest approved ES standard, ES2017? Or include ES Next too?

e.g. https://github.com/tc39/proposals/blob/master/finished-proposal

[2018-04-06 16:48] ivankruchkoff commented on #214
My 2c: ES Next, webpack, and try your hardest to avoid a util library

[2018-04-06 16:52] dana-ross commented on #214
We totally could use newer standards with Babel. My only concern there is reliable references & training materials. ES6 is pretty established right now and 10up engineers get access to Wes Bos's class if they ask.

I don't think we need to spell out what libraries offer beyond what ECMAScript supports natively, but some guidance on selecting libraries would be helpful.

[2018-04-06 16:54] dana-ross commented on #214
1. Prefer libraries with strong community adoption and support
2. Prefer libraries available through npm
3. Prefer libraries that focus on a few specific roles vs an entire framework or "grab bag" of features
4. Avoid libraries written by Dave Ross

[2018-04-06 17:17] ivankruchkoff commented on #214
MDN has very high quality documentation, see the following:

**ES2016/ES7**
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes

**ES2017/ES8**
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart
https://developer.mozilla.

[2018-04-06 20:25] timwright12 commented on #214
We're going to start moving to newer standards, but for best practice we still need some things in there for older code. I have a line item to revamp this section. Definitely open to feedback and back and forth on this thread.

[2018-04-06 21:00] christianc1 commented on #214
jQuery equivalent to the underscore to native resource @daveross linked to above:
http://youmightnotneedjquery.com/

[2018-04-06 22:40] christianc1 commented on #214
Additionally, depending on the ES standard we support, as we introduce new features as part of our best practices, we should reference the challenges the feature was introduced to solve (as applicable).  This will probably involved expanding the *Design Patterns* section, and correlating new javascript features to best practices around design patterns.

It will require some knowledge of common jav

[2018-04-07 02:56] tlovett1 commented on #214
Great thread.

I don't think the solution is "write ES6 code" or "write ES Next Code". The answer is write the most readable/extensible/maintainable/performant code possible. It just so happens that ES6+ provides functionality that improves readable/extensible/maintainable/performance.

Again, I don't think the answer is use the newest feature for the sake of using the newest feature. Rather, just

[2018-05-04 13:39] dana-ross commented on #178
All these PRs were merged or closed. Closing this issue. Thanks for contributing!

[2018-05-04 13:39] #178 closed

[2018-05-04 13:40] dana-ross commented on #125
Stale thread. Just closed the JSLint/ESLint PR. Closing this one.

[2018-05-04 13:40] #125 closed

[2018-05-04 13:43] dana-ross commented on #104
Responsive image support landed in WordPress core three months after the last comment on this issue.

Closing. Core's functionality is working pretty well for us.

I do like @tddewey 's notes about documenting best practices for using responsive images though. Would be neat if someone could pick that up and run with it.

[2018-05-04 13:43] #104 closed

[2018-05-04 13:45] dana-ross commented on #90
Stale issue. Not sure specific guidance on namespaces is needed at this point. Team seems to be handling them pretty responsibly and the new theme/plugin scaffolds set a baseline for namespaces on future projects.

[2018-05-04 13:45] #90 closed

[2018-05-04 13:46] dana-ross commented on #92
This was a great discussion. I've noticed 10up engineers have pretty much abandoned heredoc/nowdoc so I'm going to close this out.

[2018-05-04 13:46] #92 closed

[2018-05-04 13:48] dana-ross commented on #165
PR #213 was merged. Closing.

[2018-05-04 13:48] #165 closed

[2018-05-08 19:25] timwright12 commented on #89
We're using this all the time now, closing this out.

[2018-05-08 19:25] #89 closed

[2018-05-08 19:26] timwright12 commented on #150
Assigning this to myself so I can update the a11y section

[2018-05-08 19:39] jonathantneal commented on #89
@timwright12, that’s great to read! Out of curiosity, which plugins do you use? Anything besides Autoprefixer?

[2018-05-31 12:15] timwright12 commented on #189
Updating this thread with the PR for JS framework best practices with addresses React and Vue: https://github.com/10up/Engineering-Best-Practices/pull/231

[2018-05-31 12:16] #160 closed

[2018-05-31 12:17] timwright12 commented on #106
Assigning this to myself

[2018-05-31 12:18] timwright12 commented on #105
I'll add this to my to do list.

[2018-05-31 14:32] timwright12 commented on #215
PR: https://github.com/10up/Engineering-Best-Practices/pull/232/

[2018-05-31 19:39] #215 closed

[2018-06-01 12:36] timwright12 commented on #189
Vue PR has moved to: https://github.com/10up/Engineering-Best-Practices/pull/233

[2018-06-11 15:49] timwright12 commented on #209
I can take this one.

[2018-06-11 15:51] timwright12 commented on #198
@petenelson @ivankruchkoff Any updates on this?

[2018-06-12 09:13] pattonwebz commented on #150
Hey @timwright12, have you spent much time reworking the a11y section yet?

Would it get in your way if I refreshed and reworked the section about the skip link from this old PR here: https://github.com/10up/Engineering-Best-Practices/pull/154?

[2018-06-12 12:14] timwright12 commented on #150
@pattonwebz If you want to spin up a new PR, that'd be cool. We retired that old one (I forget why), I think because there was a recent revamp to the a11y section and it didn't quit fit well anymore. If you want to take on this topic let's make sure it's not just skip links and rather, "Bypass Blocks" to align the content more accurately with WCAG 2.0

[2018-06-13 14:27] krisgale opened #235 "Version Control -- suggest git.config for no-ff on master branch"
git config branch.master.mergeoptions  "--no-ff"

[2018-06-13 18:31] dana-ross commented on #235
I'm fine recommending this as an optional alternative to `--no-ff` if people want to do it. My personal preference is to build up the muscle memory to instinctively type `--no-ff` when you merge.

[2018-07-02 15:28] JodiWarren opened #238 "NPM package versioning, lock files, and reproducible builds"
Following on from some spirited discussion on Slack, I thought it might be productive to move discussion about best practices for frontend module versioning to here.

The aim of this discussion is to create a section which can provide a best practices guide to:

- Using NPM vs Yarn
- Committing a lock file
- When to update a package.json
- How precise to be with package versioning

This is importa

[2018-07-02 15:32] krisgale commented on #238
chiming in with my personal preference as to a reproducible, reliable method:

- have gulp or grunt write a file w/ a timestamp
- have functions.php consume the contents of that file and store a global variable
- have all calls to wp_enqueue_script and _style use that global for version number

this could be done in the existing theme scaffold,
and would ensure a fresh version every time assets ar

[2018-07-02 16:06] JodiWarren commented on #238
@krisgale I think that's a fine solution for static asset cache-busting, but it's a slightly different topic.

The problem:
Without a lock file, running `npm install` or `yarn` will fetch the latest qualifying modules which match the versions specified in `package.json`.

Let's take this dependencies block as an example:
[code]

Without a lock file, this will happily install the latest `example-mo

[2018-07-02 16:10] krisgale-zz commented on #238
my recommendation: `"example-module": "4.17.2"` -- **be implicit** (no `^` or `~`)

[2018-07-02 16:16] JodiWarren commented on #238
@krisgale as I mentioned above, this is purely relying on version number rather than anything more concrete. NPM and Yarn both now have the capability of much more reliable package resolution. We should be utilising that.

The discussion I wanted to have here is about:

1. Whether we recommend to use NPM or Yarn
2. That we should recommend committing a lock file
3. When to update the packages in a

[2018-07-02 21:30] smy315 opened #239 "Remove Modernizr on Markup section"
Modernizr (including HTML5Shiv) is no longer needed and I'm pretty sure that we don't use it on any of our projects. Can we completely remove this section (https://10up.github.io/Engineering-Best-Practices/markup/#html5-structural-elements#modernizr)? I can create a PR.

[2018-07-03 01:38] ivankruchkoff commented on #238
https://github.com/npm/npm/blob/v5.0.0/doc/files/package-lock.json.md

[2018-07-03 08:40] JodiWarren commented on #238
My personal feeling is:

- We should recommend the use of NPM. Nothing against Yarn, but NPM is more of a standard.
- We should absolutely commit the lock file. If a dependency is added or updated, the lock file should be committed alongside `package.json`
- Packages should be updated as part of a semi-regular dependency sweep. We can use [`npm outdated`](https://docs.npmjs.com/cli/outdated) to ch

[2018-07-03 12:12] timwright12 commented on #238
From a policy standpoint, we did make a decision to use NPM instead of Yarn, unless you're on a React project, and we do always check in the package lock file.

[2018-07-03 12:32] lucymtc opened #240 "Code styling to output HTML in PHP"
We currently have a section to Avoid Heredoc and Nowdoc as it's impossible to do late escaping and where it's mentioned "engineers should avoid heredoc/nowdoc syntax and use traditional string concatenation & echoing instead".
I would like to know how people feel about how to construct HTML within the PHP code, echoing vs open/close php tags to include the HTML.

Across projects I see both differe

[2018-07-03 13:53] dana-ross commented on #240
I'm not a fan of jumping in & out of PHP with `<?php` and `?>` from a stylistic standpoint. Mixing languages like that never sat well with me. I don't know, maybe it's just an uncomfortable reminder of PHP's past as a templating language.

My preference is for good old `printf` and `sprintf`:

[code]

This allows for a template-like syntax and late escaping.

[2018-07-03 14:00] dana-ross commented on #240
In terms of unification, I get that it can sometimes be confusing to see different styles, but this isn't the kind of thing I think we should be dictating for our engineers. Like you said, it's largely a matter of personal preference.

If we did decide to standardize here, I'd want us to strongly consider adopting a lightweight templating library like Twig which would have additional benefits like

[2018-07-03 14:05] dana-ross commented on #238
Yes, Yarn was our recommendation for a long time until npm caught up in terms of performance & features. We made a deliberate choice recently to return to npm.

[2018-07-03 14:42] dana-ross commented on #239
@timwright12 I'm good with removing this if you are. We can always pull in Modernizr if a project calls for classic IE or other browser support, but almost everything my teams work on is IE 11 and up.

[2018-07-03 14:54] timwright12 commented on #239
I'm not against removing the tool, but the concept of feature detection is still valid. @smy315 If you want to create a PR for that area, let's rewrite it to lean on the concept rather than the tool. We still run into some detection with stuff like exports.

[2018-07-05 10:24] lucymtc commented on #240
That makes sense, but still in absence of a templating library maybe encouraging engineers to use `printf` and `sprintf` which still would keep a more clean and readable code vs echoing each line? From the different ways to output HTML I see across projects some of them can lead to messy code.

[2018-07-05 10:35] ryanwelcher commented on #240
+1 from me on recommending using `printf` or `sprintf` instead of `echo` when possible.

[2018-07-05 14:15] krisgale-zz commented on #240
respectfully, -1 from me, as it muddies up the works for esc_html__ and esc_html_e, as necessitated by i18n.

as for 'jumping in and out of php tags', consider that it at least tends to promote html looking like html... `<a href="<?php esc_url( $some_url ); ?>">and so forth</a>` -- this is quite readable.

[2018-07-05 14:18] ryanwelcher commented on #240
@krisgale you can ( and should ) use `esc_html__`/`esc_html_e` with those functions. Can you provide an example? Perhaps I'm misunderstanding?

[2018-07-05 14:20] krisgale-zz commented on #240
per the above example from @daveross , i see how it Can still be used with printf/sprintf -- i just don't see the real value of Additional function-wrapping.

@daveross also per your example, how might that look in a loop? like this?

[code]

how is this ^ better than...

[code]

?

to me one resembles Perl programming, the other resembles html with tags to output values.

[2018-07-05 14:28] ryanwelcher commented on #240
I see what you mean :)

I think overall, this is a case of where the code is being used. If we have a template that is predominately HTML, I can see the benefit of the inline style of outputting PHP variables. It does read easier.

Ultimately, this is going to be very much the personal preference of the engineer. Maybe if this is included in the Best Practices, we recommend against the echo :allth

[2018-07-05 14:30] krisgale-zz commented on #240
i would agree that using printf/sprintf to assemble a bunch of html to prepare for output all-at-once further down in the page/template makes sense... with the caveat of being wary of the amount of markup being constructed and memory limitations.

[2018-07-05 14:31] ryanwelcher commented on #240
@krisgale @daveross  - we should be careful about getting too close to a particular use-case/example for this. There are going to be lots of examples on both sides.

[2018-07-05 14:32] krisgale-zz commented on #240
and react renders both obsolete :-p -- but that's a separate debate.

[2018-07-05 18:49] barryceelen commented on #240
My 2 cents, for single line stuff that gets unreadably long I use (s)printf.  When using (s)printf you can put the variables on their own lines which increases readability as opposed to the `echo` example.

[code]

For html spanning a couple of lines I'd `include` a template file (bonus points for being able to be overridden by a child theme if that applies). For repeatable items, like in the `<se

[2018-07-09 12:51] krisgale opened #241 "suggestion: add wp_localize_script, explanation, benefits, links to how-to"
maybe too esoteric a thing? but considering the importance of i18n & related translation functions, as well as isolating presentation from data-preparation, i think it bears mention in the PHP chapter.

[2018-07-13 09:40] samikeijonen opened #242 "CSS / SASS architecture using ITCSS or similar approach"
Best practises have [section for file structure](https://10up.github.io/Engineering-Best-Practices/structure/), including CSS / SASS.

I'd still like to open new issue for CSS / SASS architecture which tries to take deeper dive why it matters a lot.

I've personally switched using [ITCSS](https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/) which aims to be **scalable and maint

[2018-07-16 08:59] JodiWarren commented on #242
I thoroughly agree with this article. If a broad consensus is reached for it, we should ensure that https://github.com/10up/theme-scaffold is updated in this style to make it easy for people to follow the correct behaviour.

I don't **specifically** follow ITCSS, though reading this I probably should. The things that I keep in mind with SCSS/CSS organisation:
- Be proactive about creating new modu

[2018-07-25 00:52] tlovett1 commented on #235
Agree on this one. Would love to see a PR!

[2018-08-06 17:41] tlovett1 commented on #241
Hmm, not sure what you are getting at. `wp_localize_script` is definitely important and useful. Maybe create a PR?

[2018-08-06 17:42] tlovett1 commented on #189
Closing this thread as we've made good progress on React/Vue.

[2018-08-06 17:42] #189 closed

[2018-08-07 03:34] tlovett1 commented on #242
This makes a lot of sense to me. Curious to hear @timwright12's opinion as well as others.

[2018-08-07 03:39] tlovett1 commented on #240
I think it really just depends on the amount of HTML being outputted. For a line our two surrounded by PHP, sprintf/printf makes sense. For a large block of HTML, a template file our `<?php` `?>` makes sense to me. I agree this is pretty much personal preference.

[2018-08-07 03:40] tlovett1 commented on #239
I also thought Modernizr was obsolete but certainly could be wrong :)

[2018-08-07 03:43] tlovett1 commented on #238
My take and what we've discussed at Engineering Leadership:
* NPM over Yarn.
* Always always always commit lock files.
* `package.json` and `composer.json` should specify major versions but allow for bug fix upgrades. Specific version are a bad idea. What if a critical security fix is patched?

@timwright12 @daveross @cmmarslender did we ever get anywhere with package management best practices?

[2018-08-07 12:10] timwright12 commented on #238
^ that's the policy, but I don't see an area where it's written up

[2018-08-07 12:16] timwright12 commented on #242
This falls under the "massive can of words" category. I actually use a general version of this methodology. We've approached the topic many times on the team and there is no consensus beyond agreement on the basic directory structure we now have in the scaffolding - and it took quite a long time to agree on that.

If the directory structure is clear and consistent, that's what's most important. We

[2018-08-07 12:57] moraleida commented on #240
Somewhat tangent to this: if we were to standardize it, I'd prefer the standard to focus more on making sure we minimize the amount of logic needed on templates (by using helper functions to build all data before sending to the template) and the amount of markup built outside of templates. (we already have wording on this, but it could be expanded/more clear)

Then we could possibly recommend styl

[2018-08-07 12:57] timwright12 commented on #238
@JodiWarren would you mind updating best practice docs with the info @tlovett1 outlined just so we have it somewhere? Ping me in slack and we can chat about where it might go.

[2018-08-07 15:13] joesnellpdx commented on #242
I think adding something like this into best practices would be a good idea. Best practices often are not 'rules' but pattern suggestions to follow. I think having an explanation of structure like this would be helpful - especially for new hires.

Well done @samikeijonen !

[2018-08-07 16:43] timwright12 commented on #242
I agree, if we can pull out some of the really specific items and tailor it more to best practice recommendations, it would be a good fit in the docs

[2018-08-07 20:27] krisgale-zz commented on #241
background/context: used it on a project whereby i would have otherwise been 'dumping' json data wholesale within page content... suggestion to use `wp_localize_script` came up in code review, and when i went looking for information about it; saw it was not mentioned in our doc... i think a brief description of an example use-case for `wp_localize_script` may be warranted, with external links to a

[2018-08-07 20:40] samikeijonen commented on #242
It's not that much about directory structure itself, or at least how to name them and what files to put inside them.

Instead it emphasise CSS architecture, structure, and which order CSS would be outputted. In other words there would be logical reason for everything.

I'm sure current approach in theme scaffold is already doing this but as a new dev here, I just didn't picked that up by reading t

[2018-08-07 20:43] smy315 commented on #239
PR: https://github.com/10up/Engineering-Best-Practices/pull/243

Replaced the content for Modernizr section with Feature Detection content. Was told that Modernizr is still utilized so it's included as a link for "feature detection libraries" instead of having a entire section for it.

[2018-08-07 20:50] helen opened #244 "Consider renaming the "Structure" page to "Design""
This is coming out of #229 to add a section about privacy best practices (specifically user data right now, but could be more things). It doesn't really fit anywhere else because it's not language-specific like a lot of other security/privacy information, and I think `Design` does a good job of describing both things like file structure and other general engineering considerations.

[2018-08-07 21:09] smy315 opened #245 "Remove sanitize.css and normalize.css as primary tool."
Since both Theme-Scaffold and Plugin-Scaffold uses normalize now (https://github.com/10up/plugin-scaffold/issues/37 and https://github.com/10up/theme-scaffold/issues/45) for CSS reset. Also, since sanitize is no longer a 10up project?

PR: https://github.com/10up/Engineering-Best-Practices/pull/246

[2018-08-08 12:37] #245 closed

[2018-08-16 20:52] colorful-tones commented on #239
@smy315 PR looks good to me and makes sense as a new 10upper :)

[2018-08-16 21:03] colorful-tones opened #248 "Target ID, class, or data attributes for JavaScript"
From "Markup" > "[Classes & IDs](https://10up.github.io/Engineering-Best-Practices/markup/#classes-ids)"

I recommend replacing this with use of data attributes. Perhaps it is the old-school Front Ender in me that gets queasy when I see IDs.

`<nav class="primary-menu" data-js-primary-menu></nav>`

There are some noted "[Issues](https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_at

[2018-08-17 12:02] #239 closed

[2018-08-17 12:17] timwright12 commented on #248
@colorful-tones I put this PrefTest together for a POC, going into the DOM and grabbing an ID is significantly more performant than using an attribute selector (by 29% when I ran it): https://jsperf.com/id-vs-queryselector/1

IDs are also largely used for accessibility hooks, so we definitely used them a lot, just not for styling.

[2018-08-17 15:20] colorful-tones commented on #248
![mind blown](https://media.giphy.com/media/av1nQt7V11E9a/giphy.gif)

[2018-08-17 15:20] #248 closed

[2018-08-20 19:08] timwright12 commented on #150
Merged

[2018-08-20 19:08] #150 closed

[2018-08-30 18:56] bengreeley opened #253 "HTTPS Best Practices Section"
I created a PR to add HTTPS to the systems best practices page. Since internally we strive for all of our sites to be HTTPS, it makes sense that this should be added to our best practice documents. There's much more information that could be added here, but my initial goals were

1) To have HTTPS be included in the best practices to point engineers to the appropriate section with an explanation of

[2018-10-05 04:13] tlovett1 commented on #253
@bengreeley can you open the PR?

[2018-10-05 13:20] tlovett1 commented on #244
I like this idea! Want to draft a PR?

[2018-10-08 12:58] timwright12 commented on #102
@saltcod did we ever get a PR for this? If not I think we can get something moving forward

[2018-10-08 12:59] timwright12 commented on #106
@daveross adding to my list

[2018-10-08 13:28] samikeijonen commented on #106
[Zach have nice checklist of font loading](https://www.zachleat.com/web/font-checklist/).

[2018-10-08 15:12] saltcod commented on #102
@timwright12   That's from 2016! Making this the longest week in history!

I should be able to put together a PR this week.  Given that this issue is 3 years old, I'll poll the room and see what direction we should move in in 2018.

[2018-10-08 15:25] jonathantneal commented on #102
Oh, I’ve narrowed my position since _last week_, Terry. 😄

1. I don’t think we should mention PNG fallbacks _at all_. I think they are irrelevant in an IE9+ world.
2. I think source SVGs should be maintained as separate files, compiled into a map of `<symbol id>` sprites, or compiled inline with HTML using the project’s HTML/JSX compiler.

My position hasn’t changed here, though — whatever works b

[2018-10-08 15:30] saltcod commented on #102
haha sweet! Thanks for stopping in!    Agreed on png fallbacks — I haven't thought about those in a long time.

I think most of the FEE team here still uses the (PHP) function that I'm pretty sure you wrote.

The one that lets you do something like svg_icon( 'logo', array ( ...classes, attributes, etc.. ) )

Probably a question for @timwright12:  Should we include this actual function in the docum

[2018-10-23 18:38] helen commented on #244
@tlovett1 Yep, see #262

[2018-11-09 21:27] bengreeley commented on #253
@tlovett1 You've got it: https://github.com/10up/Engineering-Best-Practices/pull/264

[2018-11-28 20:39] timwright12 opened #265 "Add Best Practice Section for React in Gutenberg"
After speaking with members of the team, these are the basic areas we want to touch on (in no particular order):

- Following standard React practices
- Standardizing around ES6
- Integrating with production output
- All projects need to be able to handle Webpack
- [Wp.element usage]( https://wordpress.org/gutenberg/handbook/packages/packages-element/ )
- [Higher-order components in Gutenberg](htt

[2018-11-28 20:53] timwright12 opened #266 "Update Link Treatment to Match 10up.com"
Update links on the best practice site to match 10up.com: https://10up.com/blog/ (link, hover, action, focus)

[2018-11-28 20:57] timwright12 commented on #238
Closing this out because @daveross wrote it up https://10up.github.io/Engineering-Best-Practices/structure/#dependencies

[2018-11-28 20:57] #238 closed

[2018-11-28 21:00] timwright12 commented on #186
Closing this out since we released the eslint config https://www.npmjs.com/package/@10up/eslint-config

[2018-11-28 21:00] #186 closed

[2018-11-28 21:22] #53 closed, assigned to nobody

[2018-11-28 22:44] ivankruchkoff opened #267 "Best practices for react aren't really best practices"
I'm looking through the React documentation, and it reads more like:

Here are some terms related to React that you should further research, rather than here are some DOs and DONTs for React.

Here are some things that may make sense to cover:

- Universal/Isomorphic Apps, the tradeoffs to be made, this influences your routing and state management choice. I recommend completely removing Server Sid

[2018-11-28 23:26] tlovett1 commented on #267
@ivankruchkoff I agree we could touch on some of these topics better. Maybe you can work on a PR collaborating with @timwright12 ?

[2018-11-29 02:18] MatthewEppelsheimer commented on #267
I generally agree there isn't much value in this as it currently stands. Being still quite new to React myself, I didn't find here what I generally expect from our best practices, which is definitive guidance.

I completely agree with this. Deferring thinking about routing sounds like a fine practice if speed is the priority, but a poor way to architect a robust, stable application that's a pleasu

[2018-11-29 11:52] timwright12 commented on #267
One thing that's important to remember in this document is that we're not replicating the normal React docs and it shouldn't be a React tutorial, it's more so how React is generally integrated into common projects at 10up. However, it would be great to see some PRs and improvements now that we've worked on a lot more React projects @ivankristianto @MatthewEppelsheimer

[2018-12-07 18:58] #265 closed

[2019-01-04 13:55] dainelmawer commented on #267
@timwright12 I think @ivankruchkoff points out some pretty valid points here. The above points generally come out in code reviews, especially elements like PropTypes, PureComponents, Stateless Functional Components - a lot of green engineers to React wouldn't be able to deduce from the React docs the correct application/context of these concepts without some on-the-ground experience of working on

[2019-01-07 21:50] timwright12 commented on #214
Closing this out since we've made a lot of updates to the JS page and there hasn't been any discussion since April. We can open up a new thread if there are more issues that crop up.

[2019-01-07 21:50] #214 closed

[2019-01-11 13:06] circlecube commented on #266
@timwright12 - You talking about just the links in the content? All the TOC and back to top links would remain as they are? I'm happy to take this on.

[2019-01-11 13:44] timwright12 commented on #266
@circlecube yeah just the content links

[2019-01-11 15:34] circlecube opened #274 "Fix Back to Top"
Currently the back to top links in each section do not take the user to the top of the page.

[2019-01-11 15:38] circlecube commented on #274
This looks like it is related to the sticky header. The nav with #top id is in the header, so clicking the link doesn't take you to the top because it's already on the page. We'll need to add an anchor to the top of the page after the header (likely add an id to an existing element)

[2019-01-14 21:44] colorful-tones opened #277 "Convert font icon usage to SVG icons"
Currently, the site is using IcoMoon font icon set for icons. We should convert to SVG icons. They're a little more accessible and crisper.

Good news is that IcoMoon `selection.json` file is already version controlled. Therefore, we can easily grab the same versions of IcoMoon SVGs as font-icons being used.

Further reading:
* [Inline SVG vs Icon Fonts [CAGEMATCH]](https://css-tricks.com/icon-fon

[2019-01-16 17:27] colorful-tones commented on #211
It looks like this client side library is best approach for Jekyll Github Pages site: https://github.com/christian-fei/Simple-Jekyll-Search

[2019-01-22 10:04] JodiWarren opened #282 "Add note about possible VoiceOver list issue to CSS section"
For problem and possible solutions see: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html

Could just add a reference to above blog post, but I think it's worth detailing alongside the code snippet that fixes it.

[2019-01-22 15:23] timwright12 commented on #282
@JodiWarren Can you make a note about where this issue is on the site?

[2019-01-22 15:55] JodiWarren commented on #282
@timwright12 Sorry for the lack of clarity - it's not to fix a problem on the site, it's to add a note about this potential problem for CSS authors.

[2019-01-22 16:54] jonathantneal commented on #282
There’s a PostCSS plugin for that, too.

https://www.npmjs.com/package/postcss-list-style-safari-fix

[2019-01-23 09:20] samikeijonen commented on #282
As I said in Slack, my opinion is that let it be by default. Then case by case check do we want CSS hack for rescuing Safari behaviour. From my experience we don't need this CSS hack very often.

Here is another [article about the lists and Safari and Voiceover](https://yatil.net/blog/much-ado-about-no-lists).

[2019-02-04 16:18] adamsilverstein opened #284 "Merge Strategy: Add some guidance on when to use/ pros & cons of using --no-ff versus squash and merge"
When working on improving recommendations for deleting and potentially archiving branches in https://github.com/10up/Engineering-Best-Practices/pull/271 it became clear that the best approach depends on the merge strategy the project is using.  @nicholasio suggested we consider "adding some guidance on when to use --no-ff versus squash and merge" https://github.com/10up/Engineering-Best-Practices/

[2019-02-05 16:09] #244 closed

[2019-02-05 16:11] #274 closed

[2019-02-05 16:12] #241 closed

[2019-02-06 14:24] terdelyi opened #286 "Composer based project structure seems incomplete"
Reading the section about the project structure is confusing me a bit. I see `composer.json` and `wp-config.php` in the root, a custom `wp-content` folder for plugins and themes and a WordPress core install in its own `wp` directory, but I think you missed to mention which folder should be the root of a vhost configuration on the web server.

If it's pointing to `/wp` WordPress can't access `wp-co

[2019-02-08 14:24] #266 closed

[2019-02-08 14:40] timwright12 commented on #282
@samikeijonen agreed, I'm going to close this one out

[2019-02-08 14:40] #282 closed

[2019-02-18 09:53] MarkDavidTurner opened #288 "Reflow/Layout Trashing Performance"
I'm not sure if it is perhaps mentioned in specific sections, but something that we should perhaps document is reflow Performance.

There are quite a few things that I've personally looked passed being.
- Removing Complex Animations From the Flow.
- The use of DocumentFragment when adding dom elements with Javascript.
- Batching

[2019-02-22 19:29] dkoo opened #289 "Best practices on SVGs in CSS and other contexts"
This came out of a discussion in https://github.com/10up/Engineering-Best-Practices/pull/280. @colorful-tones has written a section in the Markup page covering best practices for inline SVGs. Should we consider adding best practices for using SVGs in other contexts, such as in CSS, as well as best practices for things like styling and animating SVGs or using SVG filters to affect other assets?

[2019-02-22 19:31] dkoo commented on #267
Agree with the above. I definitely think this page warrants another look, especially after recent convos about the various routers people have used across projects, as well as the new Hooks and Context APIs. Paging @magnificode as this might relate to ongoing efforts on the React project scaffold.

[2019-03-01 13:50] #209 closed

[2019-03-01 14:21] #289 closed

[2019-03-01 16:48] colorful-tones opened #290 "Markup > SVG section is missing from navigation on home page"
I missed this #280  and going to address. Just wanted to get an Issue open.

![screenshot 2019-03-01 11 47 18](https://user-images.githubusercontent.com/405912/53652834-cd6e8f00-3c17-11e9-800c-dd6952079c44.png)

[2019-03-01 16:56] magnificode commented on #267
@timwright12 @dkoo I'll be taking a look at this today. Going to reformat our approach to state management (including some Context documentation), and make some updated recommendations around Routing.

[2019-03-01 19:59] #290 closed

[2019-03-01 20:12] timwright12 commented on #288
@MarkDavidTurner do you want to take a pass at it?

[2019-03-06 18:17] timwright12 opened #294 "Update React Router Accessibility Documentation"

[2019-03-08 21:50] bengreeley opened #297 "Add Protect Master Branch to Version Control Best Practices"
Since we protect the master branch of our repositories now to prevent direct pushes, it would make sense to add this to the Version Control best practices.

[2019-03-21 19:08] jeffpaul opened #300 "Broken links for Design section"
The `Design` link in the header links to https://10up.github.io/Engineering-Best-Practices/structure/ (this resolves correctly) while the `Project Design` link in the Table of Contents links to https://10up.github.io/Engineering-Best-Practices/design/#top (this 404s).  I would normally open a PR to fix the `Project Design` link, but from a URL naming structure it looks like both should use the htt

[2019-04-09 17:03] TylerBarnes opened #303 "Only load libraries you need has outdated info"
https://10up.github.io/Engineering-Best-Practices/javascript/#performance

Under the only load libraries you need section, the React file sizes are outdated.
Current sizes are 8.5k for React and 109.7k for React DOM for the latest versions.
Combined and gzipped they're 35.6k which is just 13k bigger than vue.

I was going to open a pull request here to update that but maybe it's better to replace

[2019-05-23 21:15] tinacastillo1 opened #305 "Add a section for images"
Add a section for best practices on handling responsive images in page elements.

[2019-06-12 20:39] timwright12 opened #307 "Add React to main nav and homepage"

[2019-08-14 17:07] TheLastCicada commented on #300
This is still very broken and seems like an easy fix.....

[2019-08-14 19:29] #300 closed

[2019-08-28 19:41] jeffpaul opened #309 "Header background missing on Design/Structure page"
**Describe the bug**
The header background image is missing when navigating to the Design section.

**Steps to Reproduce**

1. Go to https://10up.github.io/Engineering-Best-Practices/structure/
2. See missing image in header

**Expected behavior**
Header background appears on all pages.

**Screenshots**

**Environment information**
 - Device: MacBook
 - OS: MacOS 10.14.6 (18G87)
 - Browser and ver

[2019-09-04 14:31] #309 closed

[2019-09-16 18:23] jeffpaul opened #313 "Tools header menu missing visual regression testing link"
**Describe the bug**
The [homepage](https://10up.github.io/Engineering-Best-Practices/) properly includes `Visual Regression Testing` at the end of the `Tools` section, but the `Tools` header menu is missing that item.

**Steps to Reproduce**

1. Click on the `Tools` header menu
2. See that `Visual Regression Testing` link is missing.

**Expected behavior**
The same links from the homepage table o

[2019-09-26 21:52] davidshq opened #315 "Outdated Information in PHP"
The php md states that one should use a namespace or pseudo-namespace, and references the latter as being necessary due to namespaces not being support in WP's minimum PHP compatibility. However this has changed, WP now requires 5.6 as minimum (making namespaces available):
https://wordpress.org/about/requirements/

See also: https://wordpress.org/news/2019/04/minimum-php-version-update/

Not part

[2019-10-05 21:43] glebkema opened #317 "Confusion in the links on the Contributing Guidelines"
I noticed 4 links to the contributing guidelines. But they are all different and 2 of them do not work.

* The blocks on the [Issues](/10up/Engineering-Best-Practices/issues) page and on the [New Issue](https://github.com/10up/Engineering-Best-Practices/issues/new) page open https://github.com/10up/.github/blob/master/CONTRIBUTING.md
This link works. But the text recommends open up PRs against the

[2019-11-05 13:31] #313 closed

[2019-11-07 19:02] jeffpaul commented on #317
@glebkema thanks for the feedback, what you're seeing is definitely odd and something that should get cleaned up.

The links on the Issues page are utilizing the 10up default Contributing Guidelines markdown file, so that'll likely be resolved by creating a replica of https://github.com/10up/.github/blob/master/CONTRIBUTING.md and customizing it as necessary for the Engineering Best Practices.

Th

[2020-01-14 17:14] jeffpaul opened #325 "Readme updates"
**Is your enhancement related to a problem? Please describe.**
It's not obvious the level of support provided for this repo, so let's add some clarification.

**Describe the solution you'd like**
- [x] add support level section and badge
- [x] add license badge

**Designs**

n/a

**Describe alternatives you've considered**

none

**Additional context**

n/a

[2020-02-13 13:39] felipeelia opened #328 "Codex References in PHP Section"
## Describe the bug

As WordPress Codex is being discontinued in favor of DevHub and HelpHub, we should remove all references to Codex. I only found two of them:

### 1. In the [Performance](https://10up.github.io/Engineering-Best-Practices/php/#performance) section

This link actually already points to [query_posts()](https://developer.wordpress.org/reference/functions/query_posts/) DevHub page.

[2020-03-10 01:42] jeffpaul commented on #328
@felipeelia I concur, probably worthwhile to update our references away from the codex assuming the newer links provide valid info.

[2020-03-18 12:00] felipeelia commented on #328
Thank you, @jeffpaul. I've opened a PR with the necessary changes, let me know if it needs any modification to be merged.

[2020-06-19 12:40] #328 closed

[2020-06-29 19:07] #325 closed

[2020-07-28 09:54] #277 closed

[2020-09-08 14:27] tlovett1 commented on #317
Those changes sound good to me @jeffpaul

[2020-09-08 14:30] tlovett1 commented on #315
Yep, you're right. @davidshq or anyone have time to work on a PR?

[2020-09-15 11:19] darylldoyle opened #338 "Skip Links Example 404's"
**Describe the bug**
The best practices reference the Underscores theme when talking about skip links. Unfortunately, it seems that since Underscores have dropped support for IE11 they've also removed the `skip-link-focus-fix.js` file that is referenced (https://github.com/Automattic/_s/pull/1424).

I'd suggest that either the link is updated to point to the last commit before its removal ([availa

[2020-09-15 12:48] darylldoyle opened #339 "Rename Master-Slave in Systems.md"
**Is your enhancement related to a problem? Please describe.**
As per the "Inclusivity in Code" document, the master/slave database naming convention is to be avoided and primary/replica used in its place. As such, the `Systems.md` document should be updated to reflect this change in terminology.

**Describe the solution you'd like**
References to Master and Slave should be updated to use Primary

[2020-09-15 14:57] nicholasio opened #341 "[JavaScript] Best practices for choosing third-party libraries and keep bundle size small."
Bundle sizes are often an issue in most projects and it would be great to have a section about recommended JS libraries for things like using daysjs instead of moment.js, the goal is obviously not to cover everything but just the obvious and most needed libraries.

In addition we should provide some guidance for choosing third-party libraries, engineers need to be aware of few things:

- bundle si

[2020-10-07 14:45] jeffpaul opened #347 "GitHub Security tab overtaken by our security.md file"
**Describe the bug**
When you navigate to the [GitHub Security tab in this repo](https://github.com/10up/Engineering-Best-Practices/security/policy), you get served content from https://github.com/10up/Engineering-Best-Practices/blob/gh-pages/security.md since GitHub expects a `SECURITY.md` file for this page.

**Potential resolution**
Change the name of https://github.com/10up/Engineering-Best-Pr

[2020-10-09 19:29] gthayer opened #348 "Main nav on Best Practices is not displaying correctly."
**Describe the bug**
The navigation in the page header is being overlapped by the 10up logo. My guess is that a new item was added to the nav and the CSS needs to be updated.

**Steps to Reproduce**

1. Go to https://10up.github.io/Engineering-Best-Practices/
2. Click on look at the header.

**Expected behavior**
I wouldn't expect the logo to cover Design, or there to be so much space to the left

[2020-10-15 14:56] #339 closed

[2020-10-26 11:40] ciprianimike commented on #347
@jeffpaul I was going to work on this task but the bug is unconfirmed, even though the file for the site's security page is still called `security.md`.

Recorderd screen:
![security-tab](https://user-images.githubusercontent.com/5706607/97168272-715f6380-1788-11eb-8af4-06f29820d333.gif)

[2020-10-26 18:54] jeffpaul commented on #347
@ciprianimike what do you see if you click on the Security Policy section of the Security tab?  Link should be: https://github.com/10up/Engineering-Best-Practices/security/policy

[2020-10-26 18:57] ciprianimike commented on #347
@jeffpaul Issue replicated, please assign this to me, I'll fix it

[2020-11-14 00:13] #347 closed

[2021-01-15 08:46] dainemawer opened #353 "Add Web Vitals Best Practices"
**Describe the solution you'd like**
I would like to propose that we add a "Web Vitals" section to the 10up Best Engineering Practices site. The possible sub-navigation could work similarly to what I've suggested below:

**Web Vitals**
-  _Philosophy_ (what are Web Vitals, why should we care)
-  _Diagnosis_ (how we determine the current health of web vitals)
-  _Cumulative Layout Shift_ (best prac

[2021-01-18 16:50] nicholasio opened #354 "[JavaScript] Avoid using aliases (such as webpack alias) in favor of relative imports"
**Is your enhancement related to a problem? Please describe.**
Webpack aliases (and similar features in other bundles) often cause more harm than good.

With alias we can convert imports like this:
[code]

into something like this

[code]

The benefit is that you simplify importing files from deeply nested folders:

[code]

However, there are a couple of issues:

 - It's not a JS standard
 - It is

[2021-02-22 21:10] moraleida opened #355 "Add paragraph on the performance of meta_queries using EXISTS/NOT_EXISTS"
**Is your enhancement related to a problem? Please describe.**

It is very common that developers introduce new `meta_keys` without setting default values for posts that already existed in the database, or that they delete `meta_keys` when the value is not needed instead of setting it to a default or false value.

This becomes an issue on larger database tables when users need to find some informa

[2021-03-01 22:27] joesnellpdx commented on #353
I'm thinking more of a "Web Performance" tab and have Web Vitals be a primary section within and other bits can link out to their appropriate areas (like the existing sections for CSS / JS). So, like in web vitals, we may mention code splitting, and link to the performance best practice in JS - and explain the what/how there.

Not sure that is the "right way" ... but what I'm thinking.

@dainelmaw

[2021-03-02 18:39] tylercherpak commented on #353
Yeah I think have a broader "Web Performance" tab might make more sense in the long run as we add content here. We will also want to define what we mean by "Web Performance" which I assume it to be more front-end focused.

[2021-03-03 04:47] dainemawer commented on #353
This sounds good to me, chaps. @joesnellpdx definitely agree that linking to existing sections is important. Theres still a few holes we need to fill there (in terms of writing documentation for code splitting) but I can try map this out so we know where to start.

@tylercherpak agreed on the semantics behind "Web Performance" - I can write an introductory paragraph that mitigates this for sure. I

[2021-03-03 13:21] jaz-on commented on #348
Hi I just saw that the menu is buggy, apparently it has already been reported here by @gthayer.

**Environment information**
- Device : laptop
- OS : W10
- Browser and version : Chrome 89.0.4389.72 (64 bits)

![screenshot-10up github io-2021 03 03-14_17_29](https://user-images.githubusercontent.com/56646501/109811706-7ac37580-7c2b-11eb-8c7e-adba8302c28b.png)

[2021-03-03 17:50] joesnellpdx commented on #353
@tylercherpak  @dainelmawer

The only other concern (after seeing the updates I did yesterday) ... is where will this fit in the nav? We can cross that bridge when we get there, but may have to be part of this update. Content first priority.

[2021-03-04 04:22] dainemawer commented on #353
Also noticed that when I cloned this repo down. I feel like some of those nav items should probably exist in a dropdown or something.

[2021-03-04 16:59] joesnellpdx commented on #353
@dainelmawer I fix some of that here (not yet merged): https://github.com/10up/Engineering-Best-Practices/pull/349#issuecomment-789312040

What I'm considering as a solution for the addition of performance is to increase the nav break (hamburger  split) to a size where it al fits. Not 100%, but thinking might be the least LOE and get us where we need to be.

[2021-03-05 15:38] #348 closed

[2021-03-22 21:39] jeffpaul commented on #354
@nicholasio is this something you'd want to get into a PR or is there someone else you'd like to see pick this up to work on?

[2021-03-22 21:41] jeffpaul commented on #353
@dainelmawer how this fits into the main nav aside (that's a separate problem we can solve), were you still planning to stub out a new section for this in a PR for others to comment on / add to?

[2021-03-24 04:15] dainemawer commented on #353
@jeffpaul that's still the plan - I'm going to start working on this next week, hopefully, we can have something for comment / PR before 4/5!

[2021-05-21 18:27] smy315 opened #361 "Visual Bugs on Submenus"
Some recent updates to the global header is causing the following visual bugs:

![Screen_Shot_2021-05-21_at_1_09_13_PM-2](https://user-images.githubusercontent.com/2092765/119182024-6891f000-ba40-11eb-8a70-59bbf7a8cb53.png)

![Screen_Shot_2021-05-21_at_1_09_00_PM-2](https://user-images.githubusercontent.com/2092765/119182036-6af44a00-ba40-11eb-91ca-4aa46b0a66c2.png)

![Screen_Shot_2021-05-21_at_1_

[2021-05-21 18:30] smy315 opened #363 "Update reference to old Project/Theme/Plugin Scaffold with the new WP Scaffold"
https://github.com/10up/project-scaffold, https://github.com/10up/theme-scaffold and https://github.com/10up/plugin-scaffold have been deprecated.

Replace all references to these repos with 10up WP Scaffold (https://github.com/10up/wp-scaffold).

[2021-05-31 12:16] dainemawer commented on #353
@joesnellpdx @tylercherpak PR for this issue here: https://github.com/10up/Engineering-Best-Practices/pull/365

[2021-06-23 14:42] tylercherpak opened #368 "Code review guidelines and best practices."
We should add a section of the best practices that talks about how to do proper code review and make suggestions.

Gitlab has a good example of this and potentially we can link directly to it: https://docs.gitlab.com/ee/development/code_review.html#everyone

Big things I would like to see added:
- Understand that all code bases are the combination of many technical trade offs and business decision

[2021-06-25 15:07] #338 closed

[2021-08-14 13:10] vishalkakadiya commented on #355
@moraleida Hi 👋, you guys are doing awesome work with Engineering Practices! 🙌  Thank you for making these awesome docs.

I was recently checking this issue and would like to share my thoughts, not sure if this is a good idea for bigger picture but let me share:
- **`NOT EXISTS`** check: if the user makes a meta_key with appending `_1` after the actual meta_key then it will be straight forward que

[2021-08-16 14:52] claytoncollie opened #372 "Misspelling on Performace best practices"
**Describe the bug**
Found a handful of misspellings on the new performance page.

**Steps to Reproduce**
1. https://10up.github.io/Engineering-Best-Practices/performance/
2. Copy to Google Docs
3. Run spellchecker

I am working on a PR with the ones I have found.

[2021-08-17 23:28] moraleida commented on #355
@vishalkakadiya I think your solution should work fine. It taps into the same idea that is, always look for something that exists, instead of for something that doesn't. I suggest adding different values for a meta key, but having different meta-keys will most likely work just fine too.

I don't think indexing the meta_value column makes a lot of difference in this case, because the first thing th

[2021-09-22 21:40] #372 closed

[2021-12-17 09:50] #353 closed

[2022-01-10 20:31] benlk opened #379 "Add recommended/endorsed plugins for addressing site security recommendations"
**Is your enhancement related to a problem? Please describe.**
On https://10up.github.io/Engineering-Best-Practices/site-security/, we recommend several things to do, but we don't say how to do them.

**Describe the solution you'd like**

We have a list of problems to address. We should add specific methods _how to address_ those problems, such as:
- a line of code to add to wp-config.php
- a filt

[2022-06-03 21:15] #361 closed

[2022-06-03 21:15] joesnellpdx commented on #361
@tylercherpak no longer needed. Closing

[2022-07-11 12:19] fabiankaegy commented on #221
I just stumbled across this issue and looking at it from today this is no longer an open issue. Closing

[2022-07-11 12:19] #221 closed

[2022-11-17 07:42] michael-sumner opened #391 "Fix typos"
### Is your enhancement related to a problem? Please describe.

There are a few typos that will need updating in the docs

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct